Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: "client/pnpm-lock.yaml|docs/pnpm-lock.yaml|client/bun.lock"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
        name: ruff check for lilypad-app
        entry: bash -c 'cd app && ruff check .'
        files: "^app/lilypad|^app/tests"
        args: [--fix, --config=app/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-app
        entry: bash -c 'cd app && ruff format .'
        files: "^app/lilypad|^app/tests"
        args: [--config=app/pyproject.toml]
      - id: ruff
        name: ruff check for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff check .'
        files: "^sdks/python"
        args: [--fix, --config=sdks/python/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff format .'
        files: "^sdks/python"
        args: [--config=sdks/python/pyproject.toml]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
      - id: pyright
        name: pyright for lilypad-sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv run pyright .'
        files: "^sdks/python"
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: tests-app
        name: tests for app
        entry: bash -c 'cd app && uv run pytest tests'
        language: system
        types: [python]
        pass_filenames: false
        files: "^app/"

      - id: tests-sdk
        name: tests for sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
        language: system
        types: [python]
        pass_filenames: false
        files: "^sdks/python"

      - id: build-client
        name: build-client
        entry: bash -c 'cd app/client && pnpm typecheck'
        language: system
        pass_filenames: false

      - id: generate-openapi
        name: generate-openapi
        entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
        language: system
        files: "^app/"
        pass_filenames: false

      - id: generate-fern-sdk
        name: generate-fern-sdk
        entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
        language: system
        files: "^sdks/fern/lilypad-api.json"
        pass_filenames: false

chore: remove unused function
  app/lilypad/server/_utils/span_processing.py
Due: tests-app, generate-openapi

feat: port over mirascope middleware factory to lilypad and fix error raising bug
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/_utils/middleware.py
  sdks/python/src/lilypad/_utils/mirascope_middleware_factory.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/_utils/test_mirascope_middleware_factory.py
  sdks/python/uv.lock
Due: tests-sdk

fix: nit
  sdks/python/src/lilypad/_utils/mirascope_middleware_factory.py
Due: tests-sdk

feat: add distributed tracing support with HTTP client instrumentation
  sdks/python/docs/distributed-tracing.md
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/_configure.py
  sdks/python/src/lilypad/_opentelemetry/http/__init__.py
  sdks/python/src/lilypad/_opentelemetry/http/auto_instrument.py
  sdks/python/src/lilypad/_utils/context_propagation.py
  sdks/python/src/lilypad/context_managers.py
  sdks/python/src/lilypad/integrations/__init__.py
  sdks/python/src/lilypad/integrations/http_client.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/_opentelemetry/http/__init__.py
  sdks/python/tests/_opentelemetry/http/test_auto_instrument.py
  sdks/python/tests/_utils/test_context_propagation.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/integrations/__init__.py
  sdks/python/tests/integrations/test_context_propagation.py
  sdks/python/tests/integrations/test_http_client.py
  sdks/python/tests/test_configure.py
  sdks/python/tests/test_configure_propagator.py
  sdks/python/tests/test_context_managers.py
  sdks/python/uv.lock
Due: tests-sdk

chore: exclude example files from coverage report
  sdks/python/pyproject.toml
Due: none

test: improve coverage
  sdks/python/tests/_opentelemetry/http/test_auto_instrument.py
  sdks/python/tests/_utils/test_context_propagation.py
Due: tests-sdk

fix: logging in cors error
  .vscode/settings.json
  app/client/src/routes/auth.callback.tsx
  app/client/src/routes/auth.login.tsx
  app/client/src/types/types.ts
  app/client/src/utils/auth.ts
  app/lilypad/server/api/v0/main.py
  app/lilypad/server/api/v0/settings_api.py
  app/tests/server/api/v0/test_main.py
  app/tests/server/api/v0/test_settings_api.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/types/settings_public.py
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

fix: update policy and terms to use fetch instead of axios
  app/client/src/utils/auth.ts
Due: generate-openapi

fix: increase max_type and max_arg name length
  app/lilypad/server/models/functions.py
  app/tests/server/models/test_function_validation.py
  app/tests/server/models/test_functions_coverage.py
Due: tests-app, generate-openapi

chore: bump fix version number
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

feat: add trace_id support to spans and update related processing logic
  app/lilypad/server/_utils/span_processing.py
  app/lilypad/server/models/spans.py
  app/lilypad/server/services/span_queue_processor.py
  app/migrations/versions/0042_add_trace_id_column_to_spans.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

feat: enhance span processing to handle missing trace_id and implement LRU caching for parent span checks
  app/lilypad/server/_utils/span_processing.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

feat: rename context propagation functions for consistency and clarity
  sdks/python/src/lilypad/_opentelemetry/http/auto_instrument.py
  sdks/python/src/lilypad/_utils/context_propagation.py
  sdks/python/src/lilypad/context_managers.py
Due: tests-sdk

feat: add distributed tracing support by introducing trace_id to spans and updating related processing logic
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/services/span_queue_processor.py
  app/migrations/versions/0042_add_trace_id_column_to_spans.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/server/api/v0/test_comments_api.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_service_error_cases.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/test_models.py
  sdks/python/tests/_opentelemetry/http/test_auto_instrument.py
  sdks/python/tests/_utils/test_context_propagation.py
  sdks/python/tests/test_context_managers.py
Due: tests-app, tests-sdk, generate-openapi

feat: update distributed tracing documentation to include manual context extraction and message queue integration
  sdks/python/docs/distributed-tracing.md
Due: none

feat: add trace_id field to SpanPublic interface and related API specifications
  app/client/src/types/types.ts
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/types/span_public.py
Due: tests-sdk, generate-openapi, generate-fern-sdk

fix: update span query conditions to use equality operators for trace_id checks
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

test: add unit tests for TraceBuffer and SpanQueueProcessor error handling
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

test: add unit test for processing incomplete trace with existing parent in DB
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

chore: add GitGuardian configuration file to manage scanning behavior
  .gitguardian.yml
Due: none

fix: remove instrument option
  sdks/python/docs/distributed-tracing.md
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/_configure.py
Due: tests-sdk

feat: add support for distributed tracing in HTTP clients
  sdks/python/src/lilypad/_opentelemetry/http/__init__.py
  sdks/python/src/lilypad/_opentelemetry/http/auto_instrument.py
Due: tests-sdk

feat: enhance HTTP instrumentation by conditionally importing clients
  sdks/python/src/lilypad/_configure.py
Due: tests-sdk

refactor: replace global instrumentor instances with direct instantiation
  sdks/python/src/lilypad/_opentelemetry/http/auto_instrument.py
Due: tests-sdk

test: enhance HTTP client instrumentation tests and cleanup
  app/tests/server/services/test_span_queue_processor.py
  sdks/python/tests/_opentelemetry/http/test_auto_instrument.py
  sdks/python/tests/test_configure.py
  sdks/python/tests/test_configure_propagator.py
Due: tests-app, tests-sdk, generate-openapi

refactor: simplify error handling in uninstrument methods
  sdks/python/src/lilypad/_opentelemetry/http/auto_instrument.py
Due: tests-sdk

test: update HTTP client instrumentation patches for distributed tracing
  sdks/python/tests/test_configure_propagator.py
Due: tests-sdk

test: refactor HTTP client instrumentation mocks for clarity
  sdks/python/tests/_opentelemetry/http/test_auto_instrument.py
Due: tests-sdk

docs: update distributed tracing documentation for context management
  sdks/python/docs/distributed-tracing.md
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/context_managers.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_context_managers.py
Due: tests-sdk

refactor: clean up whitespace and improve context manager tests
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/src/lilypad/context_managers.py
  sdks/python/tests/test_context_managers.py
Due: tests-sdk

feat: update context manager to propagated_context for distributed tracing
  sdks/python/docs/distributed-tracing.md
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/context_managers.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_context_managers.py
Due: tests-sdk

fix: ensure extract_from check handles None correctly in context manager
  sdks/python/src/lilypad/context_managers.py
Due: tests-sdk

fix: undo some real-time-updates issues temporarily
  app/client/src/components/DataTable.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
Due: generate-openapi

Update distributed-tracing.md
  sdks/python/docs/distributed-tracing.md
Due: none

chore: bump minor version number
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

feat: implement data retention service and scheduler for managing data retention policies
  app/lilypad/server/main.py
  app/lilypad/server/services/data_retention_service.py
  app/tests/server/services/test_data_retention_service.py
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

feat: add data retention indexes and enhance retention service configuration
  app/lilypad/ee/server/models/annotations.py
  app/lilypad/server/models/comments.py
  app/lilypad/server/models/spans.py
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/settings.py
  app/migrations/versions/0043_add_indexes_for_data_retention.py
  app/tests/server/services/test_data_retention_service.py
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

feat: update data retention periods for pricing tiers
  app/client/mirascope-ui/blocks/lilypad-pricing.tsx
  app/lilypad/ee/server/features.py
Due: tests-app, generate-openapi

feat: refactor organization tier retrieval and apply display retention filtering
  app/lilypad/server/services/billing.py
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/services/spans.py
Due: tests-app, generate-openapi

feat: add display retention indexes for spans to improve query performance
  app/lilypad/server/_utils/tier.py
  app/lilypad/server/models/spans.py
  app/lilypad/server/services/billing.py
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/services/spans.py
  app/migrations/versions/0045_add_display_retention_indexes.py
  app/pyproject.toml
  app/tests/conftest.py
  app/uv.lock
Due: tests-app, generate-openapi
