Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest app/tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv run pytest sdks/python/tests'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output openapi.json'
  language: system
  pass_filenames: false

fix: fix client wrapper
  sdks/python/src/lilypad/_utils/client.py
Due: tests-sdk

fix: fix trace fallback
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

fix: fix format
  Makefile
  sdks/python/src/lilypad/_utils/client.py
  sdks/python/src/lilypad/spans.py
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

fix: fix format
  Makefile
  sdks/python/src/lilypad/_utils/client.py
  sdks/python/src/lilypad/spans.py
Due: tests-sdk

chore: update structure for release with new sdk generation
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/message_chunk.py
  sdks/python/src/lilypad/messages.py
  sdks/python/src/lilypad/stream.py
  sdks/python/src/lilypad/tools.py
  sdks/python/tests/test_messages.py
  sdks/python/tests/test_tools.py
  sdks/python/uv.lock
Due: tests-sdk

fix: fix outlines deps problem
  sdks/fern/fern.config.json
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

fix: revert fern version
  sdks/fern/fern.config.json
Due: none

fix: update fern
  sdks/bun.lock
  sdks/fern/generators.yml
  sdks/package.json
Due: none

chore: upgrade fern version
  sdks/fern/fern.config.json
Due: none

fix: revert fern version to last working version
  sdks/fern/fern.config.json
Due: none

fix: add utility to check for standard library or built-in types
  .github/workflows/tests.yml
  sdks/python/src/lilypad/_utils/closure.py
Due: tests-sdk

fix: remove windows-latest from CI os matrix
  .github/workflows/tests.yml
Due: none

build: update release script to catch py/* tag
  .github/workflows/release.yml
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

build: add success exit on release of app
  .github/workflows/release.yml
Due: none

fix: issue with release script for python
  .github/workflows/release.yml
Due: none

fix: improve code panel layout for better scrolling behavior
  app/client/src/components/code-block.tsx
  app/client/src/utils/panel-utils.tsx
Due: generate-openapi

chore: upgrade to `0.63.10`
  sdks/package.json
Due: none

fix: enhance code panel scrolling and layout for better usability
  app/client/src/components/code-block.tsx
  app/client/src/utils/panel-utils.tsx
Due: generate-openapi

fix: add overflow auto to code Signature
  app/client/src/utils/panel-utils.tsx
Due: generate-openapi

feat: add parent status to spans
  app/client/src/types/types.ts
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/models/spans.py
  app/lilypad/server/services/spans.py
  app/migrations/versions/0039_add_parent_status_to_spans.py
  app/tests/server/services/test_duplicate_spans.py
  app/tests/server/services/test_out_of_order_spans.py
  sdks/python/src/lilypad/spans.py
  sdks/python/tests/test_spans.py
Due: tests-app, tests-sdk, generate-openapi

fix: remove unnecessary whitespace and reorder imports in spans.py and test_out_of_order_spans.py
  app/lilypad/server/services/spans.py
  app/tests/server/services/test_out_of_order_spans.py
Due: tests-app, generate-openapi

feat: add span status and cleanup endpoints to client and raw client
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/projects/traces/client.py
  sdks/python/src/lilypad/generated/projects/traces/raw_client.py
  sdks/python/src/lilypad/generated/types/span_public.py
Due: tests-sdk

feat: add raw client and parent status response models for span status API
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/types/parent_status.py
  sdks/python/src/lilypad/generated/types/span_status_response.py
Due: tests-sdk

fix: ignore type error
  app/lilypad/server/services/spans.py
Due: tests-app, generate-openapi

fix: fix type error
  app/tests/server/services/test_duplicate_spans.py
  app/tests/server/services/test_out_of_order_spans.py
Due: tests-app, generate-openapi

fix: fix format
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/schemas/spans.py
  app/lilypad/server/services/spans.py
  app/migrations/versions/0039_add_parent_status_to_spans.py
  app/tests/server/services/test_duplicate_spans.py
  app/tests/server/services/test_out_of_order_spans.py
  sdks/python/src/lilypad/_utils/closure.py
  sdks/python/tests/test_spans.py
Due: tests-app, tests-sdk, generate-openapi

fix: fix clients
  app/client/src/types/types.ts
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/types/span_status_public.py
Due: tests-sdk, generate-openapi

chore: generate types
  app/client/src/types/types.ts
  app/client/src/utils/panel-utils.tsx
  app/lilypad/server/schemas/span_more_details.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/_utils/closure.py
  sdks/python/src/lilypad/generated/README.md
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/span_more_details.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_item.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_item_four_value.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_item_item.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_zero_value.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_zero_value_four_value.py
  sdks/python/src/lilypad/generated/types/span_more_details_response_model_zero_value_item.py
Due: tests-app, tests-sdk, generate-openapi

chore: dummy commit
  app/client/src/components/OrgSettings.tsx
  app/client/src/components/stripe/SubscriptionManager.tsx
  app/client/src/types/types.ts
  app/client/src/utils/billing.ts
  app/client/src/utils/panel-utils.tsx
  app/migrations/versions/0039_add_lookup_key.py
  client/src/components/stripe/SubscriptionManager.tsx
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/_utils/closure.py
  sdks/python/src/lilypad/generated/README.md
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/billing_public.py
  sdks/python/src/lilypad/generated/types/organization_public.py
  sdks/python/src/lilypad/generated/types/subscription_status.py
Due: tests-app, tests-sdk, generate-openapi

fix: audio and image for mirascope calls
  app/lilypad/server/schemas/span_more_details.py
  sdks/python/src/lilypad/_utils/middleware.py
Due: tests-app, tests-sdk, generate-openapi

add tests
  app/lilypad/server/schemas/span_more_details.py
  app/tests/server/schemas/test_spans.py
  sdks/python/tests/_utils/test_middleware.py
Due: tests-app, tests-sdk, generate-openapi

chore: readd conditional statement
  app/lilypad/server/schemas/span_more_details.py
Due: tests-app, generate-openapi

ruff: errors
  sdks/python/tests/_utils/test_middleware.py
Due: tests-sdk

feat: coverage
  sdks/python/tests/_utils/test_middleware.py
Due: tests-sdk

feat: add Kafka integration with topic setup and health check scripts
  Makefile
  app/docker-compose.dev.yml
  app/docker-compose.yml
  app/kafka/setup_topics.sh
  app/lilypad/server/settings.py
  app/pyproject.toml
  app/scripts/setup_kafka_topics.sh
  app/scripts/setup_kafka_topics_production.sh
  app/scripts/test_kafka_connection.py
  app/uv.lock
Due: tests-app, generate-openapi

fix: update Zookeeper configuration in Docker Compose files
  app/docker-compose.dev.yml
  app/docker-compose.yml
Due: generate-openapi

fix: update Kafka log directory in Docker Compose files
  app/docker-compose.dev.yml
  app/docker-compose.yml
Due: generate-openapi

fix: scroll issue on inputs
  app/client/src/components/traces/LilypadPanel.tsx
Due: generate-openapi

feat: add Kafka topic setup and recent spans polling endpoint
  app/client/src/types/types.ts
  app/docker-compose.dev.yml
  app/docker-compose.yml
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/main.py
  app/lilypad/server/schemas/traces.py
  app/lilypad/server/services/__init__.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/kafka_setup.py
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/services/spans.py
  app/lilypad/server/settings.py
  app/migrations/versions/0039_add_span_polling_indexes.py
  app/scripts/test_kafka_connection.py
  app/tests/server/api/v0/test_traces_api.py
  sdks/fern/lilypad-api.json
  sdks/fern/openapi-overrides.yml
  sdks/python/src/lilypad/_configure.py
  sdks/python/src/lilypad/_utils/closure.py
  sdks/python/src/lilypad/generated/projects/spans/client.py
  sdks/python/src/lilypad/generated/projects/spans/raw_client.py
  sdks/python/src/lilypad/generated/projects/traces/client.py
  sdks/python/src/lilypad/generated/projects/traces/raw_client.py
  sdks/python/src/lilypad/spans.py
Due: tests-app, tests-sdk, generate-openapi

fix: update trace status assertion in test_traces_api.py
  app/tests/server/api/v0/test_traces_api.py
Due: tests-app, generate-openapi

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
