Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: "client/pnpm-lock.yaml|docs/pnpm-lock.yaml|client/bun.lock"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
        name: ruff check for lilypad-app
        entry: bash -c 'cd app && ruff check .'
        files: "^app/lilypad|^app/tests"
        args: [--fix, --config=app/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-app
        entry: bash -c 'cd app && ruff format .'
        files: "^app/lilypad|^app/tests"
        args: [--config=app/pyproject.toml]
      - id: ruff
        name: ruff check for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff check .'
        files: "^sdks/python"
        args: [--fix, --config=sdks/python/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff format .'
        files: "^sdks/python"
        args: [--config=sdks/python/pyproject.toml]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
      - id: pyright
        name: pyright for lilypad-sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv run pyright .'
        files: "^sdks/python"
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: tests-app
        name: tests for app
        entry: bash -c 'cd app && uv run pytest tests'
        language: system
        types: [python]
        pass_filenames: false
        files: "^app/"

      - id: tests-sdk
        name: tests for sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
        language: system
        types: [python]
        pass_filenames: false
        files: "^sdks/python"

      - id: build-client
        name: build-client
        entry: bash -c 'cd app/client && pnpm typecheck'
        language: system
        pass_filenames: false

      - id: generate-openapi
        name: generate-openapi
        entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
        language: system
        files: "^app/"
        pass_filenames: false

      - id: generate-fern-sdk
        name: generate-fern-sdk
        entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
        language: system
        files: "^sdks/fern/lilypad-api.json"
        pass_filenames: false

test: Update worker test for coverage 100%
  db/middleware.test.ts
  db/operations/sessions.test.ts
  db/operations/users.test.ts
  tests/worker-setup.ts
  worker/api/index.test.ts
  worker/api/router.test.ts
  worker/index.test.ts
Due: none

test: Update test setup files for coverage 100%
  tests/db-setup.ts
  vitest.config.ts
Due: none

test: add comprehensive tests for worker/ directory achieving 100% coverage test: Update auth test for coverage 100%
  src/api/auth/logout.ts
  src/auth.tsx
  worker/auth/index.test.ts
  worker/auth/logout.test.ts
  worker/auth/me.test.ts
  worker/auth/middleware/index.test.ts
  worker/auth/middleware/session.test.ts
  worker/auth/oauth/callback.test.ts
  worker/auth/oauth/index.test.ts
  worker/auth/oauth/initiate.test.ts
  worker/auth/oauth/providers/github.test.ts
  worker/auth/oauth/providers/google.test.ts
  worker/auth/oauth/providers/index.test.ts
  worker/auth/oauth/proxy-callback.test.ts
  worker/auth/router.test.ts
  worker/auth/utils.test.ts
Due: none

test: add comprehensive tests for worker/ directory achieving 100% coverage test: update DB tests for coverge 100%
  db/index.test.ts
  db/operations/sessions.test.ts
  db/operations/sessions.ts
  db/schema/sessions.ts
  db/utils.ts
Due: none

feat: Add OpenAPI documentation with Zod validation to Hono worker
  bun.lock
  bunfig.toml
  db/index.ts
  docs/file-structure.md
  package.json
  tests/integration.test.ts
  worker/api/router.test.ts
  worker/api/router.ts
  worker/api/schemas/common.ts
  worker/auth/me.test.ts
  worker/auth/me.ts
  worker/auth/middleware/session.ts
  worker/auth/oauth/error-map.ts
  worker/auth/oauth/oauth-error.ts
  worker/auth/router.test.ts
  worker/auth/router.ts
  worker/auth/routes.test.ts
  worker/auth/routes.ts
  worker/auth/schemas.ts
  worker/auth/types.ts
  worker/index.ts
Due: none

feat: migrate from bun:test to vitest with coverage ignore support
  .codespellrc
  .github/workflows/test.yml
  .gitignore
  CLAUDE.md
  README.md
  bun.lock
  bunfig.toml
  db/middleware.test.ts
  db/operations/sessions.test.ts
  db/operations/sessions.ts
  db/operations/users.test.ts
  db/operations/users.ts
  db/types.ts
  db/utils.test.ts
  db/utils.ts
  package.json
  tests/db/global.ts
  tests/db/index.ts
  tests/db/middleware.ts
  tests/db/setup.ts
  vitest.config.ts
  worker/auth/logout.ts
  worker/auth/me.ts
  worker/auth/middleware/session.ts
  worker/auth/oauth/callback.ts
  worker/auth/oauth/proxy-callback.ts
  worker/auth/router.ts
Due: none

test: add comprehensive tests for worker/ directory achieving 100% coverage
  CLAUDE.md
Due: none

fix: add optional timeout parameter to synchronous and asynchronous client functions
  sdks/python/src/lilypad/_configure.py
  sdks/python/src/lilypad/_utils/client.py
  sdks/python/src/lilypad/_utils/settings.py
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/test_configure.py
Due: tests-sdk

fix: update test assertion for get_settings call
  sdks/python/tests/_utils/test_client.py
Due: tests-sdk

fix: handle timeout exceptions in span export and add corresponding unit test
  sdks/python/src/lilypad/_configure.py
  sdks/python/tests/test_configure.py
Due: tests-sdk

fix: catch httpx.TimeoutException in span export for async and sync functions
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

chore: initial file structure for SDKs
  sdks/python/README.md
  sdks/python/pyproject.toml
  sdks/typescript/README.md
  sdks/typescript/package.json
Due: none

chore: bump fix version number
  app/client/package.json
  app/pyproject.toml
  app/uv.lock
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: generate-openapi

tests: improve sessions testing around deleting a user session
  db/operations/sessions.test.ts
Due: none

feat: TypeScript OpenAI OpenTelemetry Support
  sdks/typescript/.gitignore
  sdks/typescript/README.md
  sdks/typescript/bun.lock
  sdks/typescript/examples/instrument-openai-with-console.ts
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/configure.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/opentelemetry/instrument-openai.ts
  sdks/typescript/src/utils/attributes.ts
  sdks/typescript/src/utils/id-generator.ts
  sdks/typescript/src/utils/stream-wrapper.ts
  sdks/typescript/tsconfig.json
  tsconfig.json
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  .github/workflows/typescript-sdk-lint.yml
  .github/workflows/typescript-sdk-test.yml
  .prettierignore
  eslint.config.ts
  sdks/typescript/.eslintrc.json
  sdks/typescript/.prettierignore
  sdks/typescript/.prettierrc.json
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/index.test.ts
  sdks/typescript/src/opentelemetry/instrument-openai.test.ts
  sdks/typescript/src/opentelemetry/instrument-openai.ts
  sdks/typescript/src/utils/id-generator.test.ts
  sdks/typescript/src/utils/stream-wrapper.test.ts
  sdks/typescript/tests/integration.test.ts
  sdks/typescript/tsconfig.eslint.json
  sdks/typescript/tsconfig.typecheck.json
  sdks/typescript/vitest.config.ts
  vitest.config.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  .github/workflows/typescript-sdk-lint.yml
  .github/workflows/typescript-sdk-test.yml
  .prettierignore
  eslint.config.ts
  sdks/typescript/.eslintrc.json
  sdks/typescript/.prettierignore
  sdks/typescript/.prettierrc.json
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/opentelemetry/instrument-openai.ts
  sdks/typescript/tsconfig.eslint.json
  sdks/typescript/tsconfig.typecheck.json
  sdks/typescript/vitest.config.ts
  vitest.config.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  .github/workflows/typescript-sdk-test.yml
  sdks/typescript/src/opentelemetry/instrument-openai.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  .github/workflows/typescript-sdk-test.yml
  sdks/typescript/src/configure.test.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  sdks/typescript/src/index.test.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  sdks/typescript/src/utils/stream-wrapper.test.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  sdks/typescript/src/opentelemetry/instrument-openai.test.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  sdks/typescript/src/utils/id-generator.test.ts
Due: none

test: Implement 100% test coverage for OpenAI OpenTelemetry support in TypeScript
  sdks/typescript/tests/integration.test.ts
Due: none

refactor: app to enable OpenAPI for later Fern SDK generation
  .github/workflows/preview-deploy.yml
  bun.lock
  docs/file-structure.md
  package.json
  vitest.config.ts
  worker/app.test.ts
  worker/app.ts
  worker/index.ts
  worker/middleware.test.ts
  worker/middleware.ts
  worker/routes.ts
  worker/schemas.ts
  wrangler.toml
Due: none

fix: implement temporary API key creation and expiration handling in playground
  app/lilypad/ee/server/api/v0/functions_api.py
  app/lilypad/server/_utils/auth.py
  app/lilypad/server/_utils/versions.py
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/span_queue_processor.py
  app/playground-requirements.lock
  app/playground-requirements.txt
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/_utils/test_auth.py
  app/tests/server/_utils/test_versions.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/ee/projects/functions/client.py
  sdks/python/src/lilypad/generated/ee/projects/functions/raw_client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

chore: bump fix version number
  app/client/package.json
  app/playground-requirements.lock
  app/playground-requirements.txt
  app/pyproject.toml
  app/uv.lock
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: generate-openapi

Port OpenAI OpenTelemetry support into Lilypad v1 for both Python and TypeScript
  .gitignore
  sdks/python/examples/instrument_openai_with_console.py
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/__init__.py
  sdks/python/src/lilypad/_internal/__init__.py
  sdks/python/src/lilypad/_internal/otel/__init__.py
  sdks/python/src/lilypad/_internal/otel/openai/__init__.py
  sdks/python/src/lilypad/_internal/otel/openai/_patch.py
  sdks/python/src/lilypad/_internal/otel/openai/instrument.py
  sdks/python/src/lilypad/_internal/otel/openai/utils.py
  sdks/python/src/lilypad/_internal/otel/utils.py
  sdks/python/src/lilypad/_internal/utils.py
  sdks/python/src/lilypad/configuration.py
  sdks/python/uv.lock
  tsconfig.json
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .gitignore
  .prettierignore
  eslint.config.ts
  package.json
  sdks/python/pyproject.toml
  sdks/python/tests/__init__.py
  sdks/python/tests/test_placeholder.py
  sdks/python/uv.lock
  vitest.config.ts
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  .prettierignore
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/_internal/otel/openai/instrument.py
  sdks/python/tests/conftest.py
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_chat_completion_simple.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_parse_with_pydantic.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_streaming_chat_completion.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_error_handling.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_chat_completion_simple.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_chat_completion_with_system.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_parse_with_pydantic.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_streaming_chat_completion.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/test_instrument.py
  sdks/python/uv.lock
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  sdks/python/src/lilypad/_internal/otel/openai/instrument.py
  sdks/python/tests/lilypad/_internal/otel/openai/__init__.py
  sdks/python/tests/lilypad/_internal/otel/openai/test_instrument.py
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  sdks/python/tests/lilypad/_internal/otel/__init__.py
  sdks/python/tests/lilypad/_internal/otel/test_utils.py
  sdks/python/tests/lilypad/_internal/test_utils.py
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  sdks/python/tests/lilypad/__init__.py
  sdks/python/tests/lilypad/_internal/__init__.py
  sdks/python/tests/lilypad/_internal/test_configuration.py
  sdks/python/tests/lilypad/_internal/test_utils.py
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  sdks/python/tests/lilypad/_internal/otel/openai/test_utils.py
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  sdks/python/tests/lilypad/_internal/otel/__init__.py
  sdks/python/tests/lilypad/_internal/otel/test_utils.py
Due: tests-sdk

test: Implement 100% test coverage for OpenAI OpenTelemetry support
  .codespellrc
  .prettierignore
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/_internal/otel/openai/instrument.py
  sdks/python/tests/conftest.py
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_chat_completion_simple.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_chat_completion_with_system.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_parse_with_pydantic.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_async_streaming_chat_completion.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_error_handling.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_chat_completion_simple.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_chat_completion_with_system.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_parse_with_pydantic.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/cassettes/test_sync_streaming_chat_completion.yaml
  sdks/python/tests/lilypad/_internal/otel/openai/test_instrument.py
  sdks/python/uv.lock
Due: tests-sdk
