Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: "client/pnpm-lock.yaml|docs/pnpm-lock.yaml"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
        name: bash -c 'cd app && ruff check for lilypad-app'
        files: "^app/lilypad|^app/tests"
        args: [--fix, --config=app/pyproject.toml]
      - id: ruff-format
        name: bash -c 'cd app && ruff format for lilypad-app'
        files: "^app/lilypad|^app/tests"
        args: [--config=app/pyproject.toml]
      - id: ruff
        name: bash -c 'cd sdks/python && ruff check for lilypad-sdk'
        files: "^sdks/python"
        args: [ --fix, --config=sdks/python/pyproject.toml ]
      - id: ruff-format
        name: bash -c 'cd sdks/python && ruff format for lilypad-sdk'
        files: "^sdks/python"
        args: [ --config=sdks/python/pyproject.toml ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
      - id: pyright
  - repo: local
    hooks:
      - id: tests-app
        name: tests for app
        entry: bash -c 'cd app && uv run pytest app/tests'
        language: system
        types: [python]
        pass_filenames: false
        files: "^app/"
      - id: tests-sdk
        name: tests for sdk
        entry: bash -c 'cd sdks/python && uv run pytest sdks/python/tests'
        language: system
        types: [ python ]
        pass_filenames: false
        files: "^sdks/python"
      - id: build-client
        name: build-client
        entry: bash -c 'cd app/client && pnpm typecheck'
        language: system
        pass_filenames: false
      - id: generate-openapi
        name: generate-openapi
        entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output openapi.json'
        language: system
        files: "^app/"
        pass_filenames: false
#      - id: generate-fern-sdk
#        name: generate-fern-sdk
#        entry: bash -c 'cp openapi.json sdks/fern/lilypad-api.json && cd sdks && bun run fern generate --group python-sdk'
#        language: system
#        files: "^sdks/fern/lilypad-api.json"
#        pass_filenames: false

feat: add response models for recent spans and traces queue
  sdks/python/src/lilypad/generated/types/recent_spans_response.py
  sdks/python/src/lilypad/generated/types/traces_queue_response.py
  sdks/python/src/lilypad/generated/types/traces_queue_response_trace_status.py
Due: tests-sdk

feat: update stripe public frontend key to be env variable
  app/client/src/components/stripe/SubscriptionManager.tsx
Due: generate-openapi

feat: updated `.env.dev` example
  app/.env.dev.example
Due: generate-openapi

feat: Add AWS Secret Manager support with LocalStack integration
  app/.env.dev.example
  app/SECRET_MANAGER_CONFIG.md
  app/docker-compose.dev.yml
  app/docker-compose.yml
  app/docs/localstack-setup.md
  app/lilypad/server/secret_manager/aws_secret_manager.py
  app/lilypad/server/secret_manager/config.py
  app/lilypad/server/secret_manager/exceptions.py
  app/lilypad/server/secret_manager/metrics.py
  app/lilypad/server/secret_manager/secret_manager_factory.py
  app/lilypad/server/settings.py
  app/pyproject.toml
  app/scripts/setup_localstack_secrets.py
  app/scripts/test_kafka_connection.py
  app/tests/server/secret_manager/__init__.py
  app/tests/server/secret_manager/test_aws_secret_manager.py
  app/tests/server/secret_manager/test_aws_secret_manager_production.py
  app/tests/server/secret_manager/test_secret_manager_factory.py
  app/uv.lock
  sdks/python/src/lilypad/_utils/closure.py
Due: tests-app, tests-sdk, generate-openapi

fix: fix format
  app/scripts/setup_localstack_secrets.py
Due: tests-app, generate-openapi

fix: improve docs
  app/SECRET_MANAGER_CONFIG.md
  app/docs/localstack-setup.md
Due: generate-openapi

fix: fix types
  app/lilypad/server/secret_manager/aws_secret_manager.py
  app/lilypad/server/secret_manager/metrics.py
Due: tests-app, generate-openapi

fix: fix format
  app/lilypad/server/secret_manager/metrics.py
Due: tests-app, generate-openapi

fix: fix sdk response
  sdks/python/src/lilypad/_configure.py
Due: tests-sdk

fix: refactor Kafka service methods to synchronous execution and improve error handling
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/kafka_setup.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

fix: bun and nits
  .github/workflows/build_client.yml
  .pre-commit-config.yaml
  Makefile
  app/client/Dockerfile.dev
  app/client/tsconfig.app.tsbuildinfo
  app/client/tsconfig.node.tsbuildinfo
  app/lilypad/server/services/billing.py
Due: tests-app, generate-openapi

fix: pyright
  app/lilypad/server/api/v0/billing_api.py
Due: tests-app, generate-openapi

fix: build client
  app/client/tsconfig.json
Due: generate-openapi

fix: obfuscate error messages
  app/lilypad/server/api/v0/billing_api.py
Due: tests-app, generate-openapi

fix: attempt on build frontend
  app/client/tsconfig.node.json
Due: generate-openapi

fix: run typecheck instead
  .github/workflows/build_client.yml
Due: none

fix: attempt workflow fix
  .github/workflows/build_client.yml
Due: none

fix: tsc to bun run
  app/client/package.json
Due: generate-openapi

feat: cleanup plan type and fix generate client
  app/client/mirascope-ui/blocks/lilypad-pricing.tsx
  app/client/scripts/generate-api-types.js
  app/client/src/components/HomeSettings.tsx
  app/client/src/components/stripe/SubscriptionManager.tsx
  app/client/src/routes/_auth/settings.$.tsx
  app/client/src/types/types.ts
  app/client/src/utils/billing.ts
  app/lilypad/server/api/v0/billing_api.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/plan_type.py
Due: tests-app, tests-sdk, generate-openapi

feat: Enhance AWS Secret Manager support to handle restoration of secrets scheduled for deletion
  app/lilypad/server/secret_manager/aws_secret_manager.py
Due: tests-app, generate-openapi

feat: add user ID to span and batch span sending methods in Kafka service
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

feat: migrate Kafka service to use aiokafka for asynchronous message handling
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/span_queue_processor.py
  app/pyproject.toml
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_span_queue_processor.py
  app/uv.lock
Due: tests-app, generate-openapi

feat: add reset singletons fixture and recent spans endpoint to spans API
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

fix: simplify exception handling in Kafka service cleanup methods
  app/tests/server/api/v0/conftest.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

fix: update logging to clarify trace URL availability with Kafka queue
  sdks/python/src/lilypad/_configure.py
Due: tests-sdk

feat: implement recent spans retrieval for both sync and async clients
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/projects/spans/client.py
  sdks/python/src/lilypad/generated/projects/spans/raw_client.py
Due: tests-sdk

fix: add type ignore comments for pyright in various files
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/services/spans.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api.py
Due: tests-app, generate-openapi

fix: adjust recursion depth argument for child spans loading in spans.py
  app/lilypad/server/services/spans.py
Due: tests-app, generate-openapi

feat: refactor Kafka connection tests to use aiokafka for async support
  app/scripts/test_kafka_connection.py
Due: tests-app, generate-openapi

fix: update datetime usage to use timezone.utc for consistency in spans API
  app/lilypad/server/api/v0/spans_api.py
  app/scripts/test_kafka_connection.py
  app/tests/server/api/v0/test_spans_api.py
Due: tests-app, generate-openapi

feat: migrate Kafka setup to use aiokafka for asynchronous topic management
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

fix: update Kafka topic setup to await async method directly in async context
  app/lilypad/server/main.py
Due: tests-app, generate-openapi

feat: implement retry logic for Kafka producer, admin client, and consumer initialization
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/kafka_setup.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

fix: enhance topic verification logic to handle non-list responses
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

fix: improve topic verification to handle various response types from describe_topics
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

feat: add Kafka topic verification script and project configuration files
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

fix: enhance logging for Kafka producer, consumer, and setup processes
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/kafka_setup.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

feat: add logging configuration and check script for improved observability
  app/lilypad/server/logging_config.py
  app/lilypad/server/main.py
  app/scripts/check_logging_config.py
Due: tests-app, generate-openapi
