Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: "client/pnpm-lock.yaml|docs/pnpm-lock.yaml|client/bun.lock"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
        name: ruff check for lilypad-app
        entry: bash -c 'cd app && ruff check .'
        files: "^app/lilypad|^app/tests"
        args: [--fix, --config=app/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-app
        entry: bash -c 'cd app && ruff format .'
        files: "^app/lilypad|^app/tests"
        args: [--config=app/pyproject.toml]
      - id: ruff
        name: ruff check for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff check .'
        files: "^sdks/python"
        args: [--fix, --config=sdks/python/pyproject.toml]
      - id: ruff-format
        name: ruff format for lilypad-sdk
        entry: bash -c 'cd sdks/python && ruff format .'
        files: "^sdks/python"
        args: [--config=sdks/python/pyproject.toml]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
      - id: pyright
        name: pyright for lilypad-sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv run pyright .'
        files: "^sdks/python"
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: tests-app
        name: tests for app
        entry: bash -c 'cd app && uv run pytest tests'
        language: system
        types: [python]
        pass_filenames: false
        files: "^app/"

      - id: tests-sdk
        name: tests for sdk
        entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
        language: system
        types: [python]
        pass_filenames: false
        files: "^sdks/python"

      - id: build-client
        name: build-client
        entry: bash -c 'cd app/client && pnpm typecheck'
        language: system
        pass_filenames: false

      - id: generate-openapi
        name: generate-openapi
        entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
        language: system
        files: "^app/"
        pass_filenames: false

      - id: generate-fern-sdk
        name: generate-fern-sdk
        entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
        language: system
        files: "^sdks/fern/lilypad-api.json"
        pass_filenames: false

Update features.ts to match listed user limits for lilypad cloud
  app/client/src/ee/utils/features.ts
Due: generate-openapi

feat: Remove kafka-python dependency and add jmespath package
  app/pyproject.toml
  app/uv.lock
Due: generate-openapi

feat: Refactor polling logic and remove unused span polling service
  app/client/src/config/polling.ts
  app/client/src/hooks/use-infinite-traces.ts
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
  app/client/src/services/SpanPollingService.ts
  app/client/src/utils/traces.ts
Due: generate-openapi

fix: resolve span UUID retrieval bug and add tests for edge cases
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_traces_simple.py
Due: tests-sdk

fix: improve error handling in annotation methods and add SpanNotFoundError
  app/scripts/test_kafka_connection.py
  sdks/python/src/lilypad/exceptions.py
  sdks/python/src/lilypad/traces.py
Due: tests-app, tests-sdk, generate-openapi

feat: Add distributed tracing support with automatic instrumentation for HTTP clients
  sdks/python/docs/distributed-tracing.md
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/_utils/context_propagation.py
  sdks/python/src/lilypad/integrations/__init__.py
  sdks/python/src/lilypad/integrations/auto_instrument.py
  sdks/python/src/lilypad/integrations/http_client.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/integrations/__init__.py
  sdks/python/tests/integrations/test_context_propagation.py
  sdks/python/tests/integrations/test_http_client.py
  sdks/python/uv.lock
Due: tests-sdk

feat: added progress and meter for spans in lilypad ui
  Makefile
  app/client/bun.lock
  app/client/package.json
  app/client/src/components/progress.tsx
  app/client/src/components/stripe/MeterUsageProgress.tsx
  app/client/src/components/stripe/SubscriptionManager.tsx
  app/client/src/types/types.ts
  app/client/src/utils/auth.ts
  app/client/src/utils/billing.ts
  app/client/src/utils/strings.tsx
  app/docker-compose.dev.yml
  app/lilypad/server/api/v0/billing_api.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/event_summary_response.py
  sdks/python/src/lilypad/generated/types/event_summary_response_current_meter.py
  sdks/python/src/lilypad/generated/types/event_summary_response_monthly_total.py
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

feat: Add thread pool for Kafka processor DB operations to improve performance
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/settings.py
Due: tests-app, generate-openapi

style: Format code for consistency and readability in settings and span queue processor
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/settings.py
Due: tests-app, generate-openapi

refactor: rename span polling indexes file for clarity
  app/migrations/versions/0041_add_span_polling_indexes.py
Due: tests-app, generate-openapi

chore: update revision identifiers for span polling indexes migration
  app/migrations/versions/0041_add_span_polling_indexes.py
Due: tests-app, generate-openapi

feat: Add demo for automatic HTTP client instrumentation with trace context propagation
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/examples/auto_instrumentation_example.py
Due: tests-sdk

feat: add distributed tracing support for HTTP clients
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/examples/auto_instrumentation_example.py
  sdks/python/src/lilypad/_utils/context_propagation.py
  sdks/python/src/lilypad/integrations/__init__.py
  sdks/python/src/lilypad/integrations/auto_instrument.py
  sdks/python/src/lilypad/integrations/http_client.py
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

chore: consolidate Makefile commands and improve structure for better maintainability
  Makefile
  app/Makefile
  app/client/Makefile
  sdks/Makefile
  sdks/python/Makefile
Due: generate-openapi

chore: enhance Makefile structure with help command and improved target descriptions
  Makefile
  app/Makefile
  app/client/Makefile
  sdks/Makefile
  sdks/python/Makefile
Due: generate-openapi

chore: enhance Makefile with new development targets and improved descriptions
  Makefile
  app/Makefile
Due: generate-openapi

feat: initial setup for stripe kafka
  .vscode/settings.json
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/stripe_kafka_service.py
  app/lilypad/server/services/stripe_queue_processor.py
  app/lilypad/server/settings.py
Due: tests-app, generate-openapi

chore: remove testing code
  app/client/src/components/stripe/MeterUsageProgress.tsx
Due: generate-openapi

chore: enhance Makefile with additional test and database management targets
  Makefile
  app/Makefile
  app/client/Makefile
  sdks/Makefile
  sdks/python/Makefile
Due: generate-openapi

chore: reorganize Makefile targets for improved clarity and maintainability
  Makefile
  app/Makefile
  app/client/Makefile
  sdks/Makefile
  sdks/python/Makefile
Due: generate-openapi

test: add comprehensive unit tests for Python SDK and Lilypad functionality
  app/lilypad/server/_utils/audit_logger.py
  app/lilypad/server/_utils/security.py
  app/tests/server/_utils/conftest.py
  app/tests/server/_utils/test_audit_logger.py
  app/tests/server/_utils/test_environment.py
  app/tests/server/_utils/test_security.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_api_keys_api.py
  app/tests/server/api/v0/test_auth_api.py
  app/tests/server/api/v0/test_billing_api.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/api/v0/test_users_api.py
  app/tests/server/schemas/test_api_keys.py
  app/tests/server/secret_manager/test_aws_secret_manager.py
  app/tests/server/secret_manager/test_aws_secret_manager_production.py
  app/tests/server/secret_manager/test_secret_manager_factory.py
  app/tests/server/services/test_kafka_edge_cases.py
  app/tests/server/services/test_kafka_services.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_projects_service.py
  app/tests/server/services/test_users_service.py
  sdks/python/pyproject.toml
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/_utils/test_fn_is_async.py
  sdks/python/tests/_utils/test_function_cache.py
  sdks/python/tests/_utils/test_functions.py
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/_utils/test_otel_debug.py
  sdks/python/tests/cli/commands/test_local.py
  sdks/python/tests/cli/commands/test_utils.py
  sdks/python/tests/cli/test_main.py
  sdks/python/tests/sandbox/__init__.py
  sdks/python/tests/sandbox/test_runner.py
  sdks/python/tests/sandbox/test_subprocess.py
  sdks/python/tests/test_configure.py
  sdks/python/tests/test_exceptions.py
  sdks/python/tests/test_sessions.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces_simple.py
Due: tests-app, tests-sdk, generate-openapi

test: fix expected value for user auth token in security tests
  app/tests/server/_utils/test_security.py
Due: tests-app, generate-openapi

test: add fixture for overriding current user in FastAPI tests and improve error handling in cleanup
  app/lilypad/server/_utils/security.py
  app/tests/server/_utils/test_environment.py
  app/tests/server/api/v0/conftest.py
Due: tests-app, generate-openapi

test: enhance unit tests with type hints and assertions for better validation
  app/pyproject.toml
  app/tests/server/_utils/test_environment.py
  app/tests/server/_utils/test_security.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_api_keys_api.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/services/test_users_service.py
Due: tests-app, generate-openapi

test: add UUID type hints and assertions for API key and billing tests
  app/tests/server/api/v0/test_api_keys_api.py
  app/tests/server/api/v0/test_billing_api.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/api/v0/test_users_api.py
  app/tests/server/schemas/test_api_keys.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_projects_service.py
  app/tests/server/services/test_users_service.py
Due: tests-app, generate-openapi

test: add codespell configuration and ignore specific token spelling in security tests
  .codespellrc
  app/tests/server/_utils/test_security.py
Due: tests-app, generate-openapi

test: add unit tests for auth utility functions and billing service
  app/lilypad/server/_utils/auth.py
  app/tests/_utils/test_closure.py
  app/tests/server/_utils/test_auth.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_functions_api.py
  app/tests/server/services/test_billing_service.py
Due: tests-app, generate-openapi

fix: update function parameter type handling in custom context manager
  sdks/python/src/lilypad/_utils/middleware.py
Due: tests-sdk

test: add unit tests for custom context manager with None function
  sdks/python/tests/_utils/test_middleware.py
Due: tests-sdk

feat: added stripe kafka topic and processor
  app/Makefile
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/db/session.py
  app/lilypad/server/services/__init__.py
  app/lilypad/server/services/billing.py
  app/lilypad/server/services/kafka_setup.py
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/services/spans.py
  app/lilypad/server/services/stripe_kafka_service.py
  app/lilypad/server/services/stripe_queue_processor.py
  app/scripts/setup_kafka_topics.sh
  app/scripts/setup_kafka_topics_production.sh
Due: tests-app, generate-openapi

Update sdk_generation.yml
  .github/workflows/sdk_generation.yml
Due: none

test: add unit tests for OutlinesInstrumentor, DockerSandboxRunner, and logging configuration
  Makefile
  app/Makefile
  app/pyproject.toml
  app/tests/server/db/test_setup.py
  app/tests/server/services/test_kafka_setup.py
  app/tests/server/services/test_opensearch.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_user_external_api_key_service.py
  app/tests/server/test_logging_config.py
  app/tests/server/test_main.py
  app/tests/server/test_sandbox.py
  sdks/python/pyproject.toml
  sdks/python/tests/_opentelemetry/test_azure_utils.py
  sdks/python/tests/_opentelemetry/test_outlines_instrumentor.py
  sdks/python/tests/sandbox/test_docker.py
  sdks/python/tests/test_traces_additional.py
Due: tests-app, tests-sdk, generate-openapi

test: add unit tests for OpenSearchService and TagService
  app/tests/server/services/test_opensearch.py
  app/tests/server/services/test_tags.py
  app/tests/server/services/test_user_external_api_key_service.py
Due: tests-app, generate-openapi

feat: added stripe kafka queue to main
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/stripe_queue_processor.py
Due: tests-app, generate-openapi

test: add unit tests for Azure utils, traces, and OpenSearchService
  app/tests/_utils/test_closure.py
  app/tests/server/services/test_opensearch.py
  app/tests/server/services/test_span_queue_processor.py
  sdks/python/tests/_opentelemetry/test_azure_utils.py
  sdks/python/tests/_opentelemetry/test_outlines_instrumentor.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/sandbox/test_docker.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_sandbox_coverage.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces_additional.py
  sdks/python/tests/test_traces_advanced_coverage.py
  sdks/python/tests/test_traces_coverage.py
  sdks/python/tests/test_traces_decorator.py
  sdks/python/tests/test_traces_methods.py
Due: tests-app, tests-sdk, generate-openapi

test: add unit tests for billing service and span service to improve coverage
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_spans.py
  app/tests/server/services/test_users_service.py
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

test: add unit tests for EE functions API, license validation, and annotations API to improve coverage
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_annotations_simple.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/server/api/v0/test_functions_api_simple.py
  app/tests/ee/test_validate.py
  app/tests/ee/test_validate_simple.py
Due: tests-app, generate-openapi

test: add unit tests for Python SDK and Lilypad to improve coverage
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_annotations_simple.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/server/api/v0/test_functions_api_simple.py
  app/tests/ee/test_validate.py
  app/tests/ee/test_validate_simple.py
  app/tests/server/api/v0/test_billing_api_additional.py
  app/tests/server/api/v0/test_spans_api_comprehensive.py
  app/tests/server/api/v0/test_spans_api_simple.py
  app/tests/server/api/v0/test_traces_api_additional.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_opensearch.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/services/test_users_service.py
  app/tests/server/test_main.py
  sdks/python/tests/test_decorator_edge_cases.py
Due: tests-app, tests-sdk, generate-openapi

test: add unit tests for Python SDK and Lilypad to improve coverage
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/test_validate.py
  app/tests/server/api/v0/test_spans_api_comprehensive.py
  app/tests/server/api/v0/test_spans_api_simple.py
Due: tests-app, generate-openapi

test: enhance unit tests for billing API, closure module, EE functions API, spans API, and license validation
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/test_validate.py
  app/tests/server/api/v0/test_billing_api_additional.py
  app/tests/server/api/v0/test_spans_api_comprehensive.py
Due: tests-app, generate-openapi
