Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

test: enhance OpenAI instrumentation tests with additional error handling and module export checks
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/exporters/json-exporter.test.ts
  sdks/typescript/src/instrumentors/openai-auto.test.ts
  sdks/typescript/src/instrumentors/openai-instrumentation.test.ts
  sdks/typescript/src/instrumentors/openai-simple.test.ts
  sdks/typescript/src/instrumentors/openai-v2.test.ts
  sdks/typescript/src/instrumentors/openai-wrapper.test.ts
  sdks/typescript/src/instrumentors/openai.test.ts
  sdks/typescript/src/register.test.ts
  sdks/typescript/src/shutdown.test.ts
Due: none

feat: add support for OpenAI wrapping and ESM loader for auto-instrumentation
  sdks/typescript/README.md
  sdks/typescript/examples/README.md
  sdks/typescript/examples/basic-auto-llm.ts
  sdks/typescript/examples/basic-auto.ts
  sdks/typescript/examples/basic-otel.ts
  sdks/typescript/examples/configure-auto-llm.ts
  sdks/typescript/examples/streaming-auto-llm.ts
  sdks/typescript/package.json
  sdks/typescript/src/esm-hooks.mjs
  sdks/typescript/src/index.ts
  sdks/typescript/src/instrumentors/openai-auto.test.ts
  sdks/typescript/src/instrumentors/openai-auto.ts
  sdks/typescript/src/instrumentors/openai-hook.ts
  sdks/typescript/src/instrumentors/openai-instrumentation.test.ts
  sdks/typescript/src/instrumentors/openai-instrumentation.ts
  sdks/typescript/src/instrumentors/openai-otel-instrumentation.ts
  sdks/typescript/src/instrumentors/openai-simple.test.ts
  sdks/typescript/src/instrumentors/openai-simple.ts
  sdks/typescript/src/instrumentors/openai-v2.test.ts
  sdks/typescript/src/instrumentors/openai-v2.ts
  sdks/typescript/src/instrumentors/openai-wrapper.test.ts
  sdks/typescript/src/instrumentors/openai-wrapper.ts
  sdks/typescript/src/instrumentors/openai.test.ts
  sdks/typescript/src/instrumentors/openai.ts
  sdks/typescript/src/register-esm-loader.mjs
  sdks/typescript/src/register-otel.ts
  sdks/typescript/src/register.test.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/wrap-openai.ts
  sdks/typescript/tsup.config.ts
Due: none

fix: update auto_llm to autoLlm for consistency across files
  sdks/typescript/examples/basic-auto-llm.ts
  sdks/typescript/examples/basic-auto.ts
  sdks/typescript/examples/configure-auto-llm.ts
  sdks/typescript/examples/streaming-auto-llm.ts
  sdks/typescript/examples/streaming.ts
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/configure.ts
  sdks/typescript/src/types/index.ts
Due: none

docs: add AutoLLM import order constraints and usage recommendations
  sdks/typescript/AUTO_LLM_CONSTRAINTS.md
Due: none

docs: add autoLlm import order constraint to README
  sdks/typescript/examples/README.md
Due: none

docs: update import statements in README and AUTO_LLM_CONSTRAINTS for consistency
  sdks/typescript/AUTO_LLM_CONSTRAINTS.md
  sdks/typescript/examples/README.md
Due: none

docs: update README and examples for auto-instrumentation usage and constraints
  sdks/typescript/AUTO_LLM_CONSTRAINTS.md
  sdks/typescript/examples/README.md
  sdks/typescript/examples/basic-auto-llm.ts
  sdks/typescript/examples/basic-auto.ts
  sdks/typescript/examples/basic-otel.ts
  sdks/typescript/examples/configure-auto-llm.ts
  sdks/typescript/examples/span-with-auto-llm.ts
  sdks/typescript/examples/span-with-env.ts
  sdks/typescript/examples/streaming-auto-llm.ts
  sdks/typescript/src/configure.ts
  sdks/typescript/src/exporters/json-exporter.ts
  sdks/typescript/src/instrumentors/openai-otel-instrumentation.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/span.ts
Due: none

feat: add shared context manager for consistent context propagation
  sdks/typescript/src/utils/shared-context.ts
Due: none

docs: enhance README with clearer instructions and examples for auto-instrumentation
  sdks/typescript/AUTO_LLM_CONSTRAINTS.md
  sdks/typescript/examples/README.md
  sdks/typescript/examples/span-with-auto-llm.ts
  sdks/typescript/src/configure.ts
  sdks/typescript/src/instrumentors/openai-otel-instrumentation.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/span.ts
  sdks/typescript/src/utils/shared-context.ts
Due: none

test: update tests to use makeCustomTracesRequest method and improve environment variable cleanup
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/exporters/json-exporter.test.ts
  sdks/typescript/src/index.test.ts
  sdks/typescript/src/span.test.ts
Due: none

test: add unit tests for shared context manager and OpenAI wrapper functionality
  sdks/typescript/src/utils/shared-context.test.ts
  sdks/typescript/src/wrap-openai.test.ts
Due: none

ci: update branch filters in CI configuration for LILYPAD-205
  .github/workflows/lint.yml
  .github/workflows/sdk_generation.yml
  .github/workflows/tests.yml
Due: none

fix: testing-library causing issues for production build
  app/client/src/components/Onboarding.test.tsx
  app/client/src/routeTree.gen.ts
  app/client/src/test-utils.tsx
  app/client/tsconfig.app.tsbuildinfo
  app/client/vite.config.ts
Due: generate-openapi

fix: test
  app/client/src/routes/join.$token.test.tsx
Due: generate-openapi

fix: test attempt #2
  app/client/src/routes/join.$token.test.tsx
Due: generate-openapi

fix: rewrite tests to use waitFor
  app/client/src/components/Onboarding.test.tsx
  app/client/src/routes/_auth.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid.index.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/annotations/$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/$functionUuid.$tab.$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/compare.$firstFunctionUuid.$secondFunctionUuid.$tab.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/playground/$functionName/compare.$firstFunctionUuid.$secondFunctionUuid.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces/detail.$spanUuid.test.tsx
  app/client/src/routes/_auth/projects/index.test.tsx
  app/client/src/routes/_auth/settings.$.test.tsx
  app/client/src/routes/auth.callback.test.tsx
  app/client/src/routes/auth.login.test.tsx
Due: generate-openapi

fix: add timeout for the problematic test
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.test.tsx
  app/client/src/routes/join.$token.test.tsx
Due: generate-openapi

feat: add traces test
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.test.tsx
Due: generate-openapi

fix: attempt #1
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.test.tsx
Due: generate-openapi

fix: attempt #2
  app/client/src/routes/join.$token.test.tsx
Due: generate-openapi

feat: enhance tracing and OpenAI integration with new closure and async generator utilities
  .github/workflows/lint.yml
  .github/workflows/sdk_generation.yml
  .github/workflows/tests.yml
  sdks/typescript/examples/trace-auto-example.ts
  sdks/typescript/src/index.test.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/trace.test.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/utils/closure.ts
  sdks/typescript/src/utils/wrap-async-generator.ts
  sdks/typescript/src/wrap-openai.test.ts
  sdks/typescript/src/wrap-openai.ts
  sdks/typescript/tsconfig.eslint.json
Due: none

fix: disable isolatedModules for DTS build to resolve CI error with generated files
  sdks/typescript/tsup.config.ts
Due: none

test: add comprehensive unit tests for wrap-async-generator utility
  sdks/typescript/src/utils/wrap-async-generator.test.ts
Due: none

feat: support annotate in trace.ts
  sdks/typescript/README.md
  sdks/typescript/bun.lock
  sdks/typescript/examples/README.md
  sdks/typescript/examples/comprehensive.ts
  sdks/typescript/examples/span-usage.ts
  sdks/typescript/examples/span-with-auto-llm.ts
  sdks/typescript/examples/span-with-env.ts
  sdks/typescript/examples/trace-auto-example.ts
  sdks/typescript/examples/trace-wrap-mode.ts
  sdks/typescript/examples/tsconfig.json
  sdks/typescript/package.json
  sdks/typescript/src/index.ts
  sdks/typescript/src/instrumentors/openai-hook.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/trace.test.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/types/openai.ts
  sdks/typescript/src/utils/client-pool.ts
  sdks/typescript/src/utils/closure.ts
  sdks/typescript/src/utils/error-handler.ts
  sdks/typescript/src/utils/wrap-async-generator.ts
  sdks/typescript/src/wrap-openai.ts
  sdks/typescript/tsconfig.eslint.json
  sdks/typescript/tsconfig.examples.json
  sdks/typescript/tsconfig.json
  sdks/typescript/tsconfig.tsx.json
  sdks/typescript/tsconfig.typecheck.json
Due: none

fix: clean up code formatting and remove annotation methods
  sdks/typescript/README.md
  sdks/typescript/examples/README.md
  sdks/typescript/examples/comprehensive.ts
  sdks/typescript/examples/trace-wrap-mode.ts
  sdks/typescript/examples/tsconfig.json
  sdks/typescript/lilypad/generated/core/fetcher/index.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/instrumentors/openai-hook.ts
  sdks/typescript/src/trace.test.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/types/openai.ts
  sdks/typescript/src/utils/client-pool.ts
  sdks/typescript/src/utils/closure.ts
  sdks/typescript/src/utils/error-handler.ts
  sdks/typescript/src/utils/settings.ts
  sdks/typescript/src/utils/wrap-async-generator.ts
  sdks/typescript/src/wrap-openai.ts
  sdks/typescript/tsconfig.tsx.json
Due: none

feat: add TypeScript configuration files for ESLint and type checking
  sdks/typescript/tsconfig.eslint.json
  sdks/typescript/tsconfig.typecheck.json
  sdks/typescript/tsup.legacy.config.ts
  sdks/typescript/tsup.modern.config.ts
Due: none

fix: remove unused BinaryResponse type export and adjust isolatedModules setting
  sdks/typescript/lilypad/generated/core/fetcher/index.ts
  sdks/typescript/tsconfig.typecheck.json
Due: none

fix: update BinaryResponse export to type and add getBinaryResponse function
  sdks/Makefile
  sdks/typescript/lilypad/generated/core/fetcher/index.ts
Due: none

fix: update Makefile for cross-platform compatibility in BinaryResponse exports
  sdks/Makefile
Due: none

fix: streamline SDK generation process in sdk_generation.yml
  .github/workflows/sdk_generation.yml
Due: none

feat: enhance trace annotation functionality with new evaluation types and improved error handling
  sdks/typescript/README.md
  sdks/typescript/package.json
  sdks/typescript/src/index.ts
  sdks/typescript/src/trace.test.ts
  sdks/typescript/src/trace.ts
Due: none

refactor: update environment_uuid to be optional and nullable across multiple files
  app/client/src/types/types.ts
  app/lilypad/server/api/v0/spans_api.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/projects/functions/spans/client.py
  sdks/python/src/lilypad/generated/projects/functions/spans/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

refactor: update environment_uuid to be required and rename is_default to is_development
  app/client/src/types/types.ts
Due: generate-openapi

feat: Implement automatic versioning in Lilypad TypeScript SDK
  sdks/typescript/bun.lock
  sdks/typescript/package.json
  sdks/typescript/src/exporters/json-exporter.test.ts
  sdks/typescript/src/exporters/json-exporter.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/utils/closure.ts
Due: none

chore: add LILYPAD-208 to lint, sdk generation, and tests workflows
  .github/workflows/lint.yml
  .github/workflows/sdk_generation.yml
  .github/workflows/tests.yml
Due: none

feat: add automatic function versioning support in TypeScript SDK
  sdks/typescript/README.md
  sdks/typescript/examples/README.md
  sdks/typescript/examples/basic.ts
  sdks/typescript/examples/comprehensive.ts
  sdks/typescript/examples/streaming.ts
  sdks/typescript/examples/trace-wrap-mode.ts
  sdks/typescript/examples/versioning.ts
  sdks/typescript/package.json
  sdks/typescript/src/configure.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/instrumentors/openai-otel-instrumentation.ts
  sdks/typescript/src/register.test.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/types/versioning.ts
  sdks/typescript/src/utils/client-pool.ts
  sdks/typescript/src/utils/closure.ts
  sdks/typescript/src/utils/code-formatter.ts
  sdks/typescript/src/utils/logger.ts
  sdks/typescript/src/versioning/versioned-function.test.ts
  sdks/typescript/src/versioning/versioned-function.ts
Due: none

feat: implement worker-based sandbox for isolated function execution
  sdks/typescript/src/cli/index.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/plugins/trace-plugin.test.ts
  sdks/typescript/src/plugins/trace-plugin.ts
  sdks/typescript/src/trace.ts
  sdks/typescript/src/utils/code-formatter.ts
  sdks/typescript/src/versioning/sandbox.test.ts
  sdks/typescript/src/versioning/sandbox.ts
  sdks/typescript/src/versioning/versioned-function.test.ts
  sdks/typescript/src/versioning/versioned-function.ts
  sdks/typescript/src/versioning/worker-sandbox.ts
Due: none

fix: prevent LLM calls from being blocked when Lilypad server is unavailable
  sdks/python/src/lilypad/_configure.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_configure.py
  sdks/python/tests/test_connection_error.py
Due: tests-sdk

fix: unittest
  sdks/python/src/lilypad/_configure.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_configure.py
  sdks/python/tests/test_connection_error.py
Due: tests-sdk

chore: bump fix version numbers
  app/client/package.json
  app/pyproject.toml
  app/uv.lock
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: generate-openapi

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
