Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

test: add unit tests for AsyncLilypad and Lilypad client wrapping functionality
  sdks/python/src/lilypad/cli/commands/sync.py
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/cli/commands/test_sync.py
Due: tests-sdk

test: add unit tests for annotation creation, duplicate handling, and OpenAI response processing
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_user_organizations_api.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/secret_manager/test_aws_secret_manager.py
  app/tests/server/services/test_deployments_service.py
  app/tests/server/services/test_kafka_setup.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

chore: bump minor version number
  sdks/python/pyproject.toml
  sdks/python/uv.lock
Due: none

test: add unit tests for annotation creation, duplicate handling, and OpenAI response processing
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/services/test_deployments_service.py
  app/tests/test_aggressive_coverage.py
  app/tests/test_billing_api_aggressive.py
  app/tests/test_closure_aggressive.py
  app/tests/test_direct_line_hits.py
  app/tests/test_final_100_percent_push.py
  app/tests/test_final_push_100.py
  app/tests/test_mega_aggressive_coverage.py
  app/tests/test_precise_coverage_attack.py
  app/tests/test_surgical_strikes.py
  app/tests/test_ultra_targeted_coverage.py
Due: tests-app, generate-openapi

test: add comprehensive unit tests for span_more_details and closure utilities
  app/tests/_utils/test_closure.py
  app/tests/server/schemas/test_span_more_details.py
  app/tests/server/schemas/test_span_more_details_simple.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_exact_missing_lines.py
  sdks/python/tests/test_final_179_lines.py
  sdks/python/tests/test_final_1_percent.py
  sdks/python/tests/test_force_100_coverage.py
  sdks/python/tests/test_force_100_simple.py
Due: tests-app, tests-sdk, generate-openapi

test: add targeted tests for specific missing lines in service files
  app/tests/test_working_line_coverage.py
Due: tests-app, generate-openapi

test: enhance unit tests for _get_class_from_unbound_method with problematic object scenarios
  app/tests/_utils/test_closure_edge_cases.py
Due: tests-app, generate-openapi

test: add type ignore comments to enhance compatibility in various test files
  app/tests/_utils/test_closure.py
  app/tests/_utils/test_closure_edge_cases.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/server/api/v0/test_user_organizations_api.py
  app/tests/ee/test_validate.py
  app/tests/lilypad/sandbox/test_docker.py
  app/tests/server/api/v0/test_auth_api.py
  app/tests/server/api/v0/test_error_cases_no_pragma.py
  app/tests/server/api/v0/test_functions_api.py
  app/tests/server/api/v0/test_main.py
  app/tests/server/api/v0/test_organization_invites_api.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_traces_api_edge_cases.py
  app/tests/server/conftest.py
  app/tests/server/models/test_function_validation_pragma_removal.py
  app/tests/server/models/test_functions_coverage.py
  app/tests/server/schemas/test_functions.py
  app/tests/server/schemas/test_span_more_details.py
  app/tests/server/schemas/test_span_more_details_simple.py
  app/tests/server/secret_manager/test_supabase_vault_manager.py
  app/tests/server/services/test_base_organization_service.py
  app/tests/server/services/test_base_service.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_deployments_service.py
  app/tests/server/services/test_functions_service.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_queue_processor_edge_cases.py
  app/tests/server/services/test_service_error_cases.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/services/test_stripe_kafka_service.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/server/test_sandbox.py
  app/tests/test_misc_edge_cases.py
Due: tests-app, generate-openapi

test: refactor test cases for improved readability and consistency
  app/lilypad/server/services/deployments.py
  app/tests/ee/test_validate.py
  app/tests/server/api/v0/test_error_cases_no_pragma.py
  app/tests/server/api/v0/test_traces_api_edge_cases.py
  app/tests/server/models/test_functions_coverage.py
  app/tests/server/services/test_deployments_service.py
  app/tests/server/services/test_functions_service.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/test_misc_edge_cases.py
Due: tests-app, generate-openapi

test: add type ignore comments for compatibility in various test files
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/server/api/v0/test_user_organizations_api.py
  app/tests/ee/test_validate.py
  app/tests/server/schemas/test_span_more_details_simple.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_deployments_service.py
  app/tests/server/services/test_functions_service.py
  app/tests/server/services/test_organization_invites_service.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_queue_processor_edge_cases.py
  app/tests/server/services/test_spans.py
Due: tests-app, generate-openapi

fix: use explicit equality check for SQLAlchemy boolean comparison
  app/lilypad/server/services/deployments.py
Due: tests-app, generate-openapi

test: add unit tests for functions and organizations API endpoints
  app/lilypad/server/api/v0/comments_api.py
  app/lilypad/server/api/v0/environments_api.py
  app/lilypad/server/api/v0/external_api_keys_api.py
  app/lilypad/server/api/v0/functions_api.py
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/api/v0/projects_api.py
  app/lilypad/server/api/v0/tags_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/schemas/comments.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_comments_api.py
  app/tests/server/api/v0/test_environments_api.py
  app/tests/server/api/v0/test_external_api_keys_api.py
  app/tests/server/api/v0/test_functions_api.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/api/v0/test_projects_api.py
  app/tests/server/api/v0/test_tags_api.py
  app/tests/server/api/v0/test_traces_api.py
Due: tests-app, generate-openapi

test: add comprehensive unit tests for spans.py and related modules
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/cli/commands/test_local.py
  sdks/python/tests/test_closure.py
  sdks/python/tests/test_exact_missing_lines.py
  sdks/python/tests/test_final_179_lines.py
  sdks/python/tests/test_final_1_percent.py
  sdks/python/tests/test_final_coverage_push.py
  sdks/python/tests/test_force_100_coverage.py
  sdks/python/tests/test_force_100_simple.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_spans_100_percent_coverage.py
  sdks/python/tests/test_spans_final_coverage.py
  sdks/python/tests/test_sync.py
  sdks/python/tests/test_traces.py
  sdks/python/tests/test_traces_100_percent_coverage.py
  sdks/python/tests/test_traces_decorator.py
  sdks/python/tests/test_traces_methods.py
  sdks/python/tests/test_traces_mirascope_coverage.py
  sdks/python/tests/test_traces_missing_mirascope.py
  sdks/python/tests/test_traces_remaining_lines.py
  sdks/python/tests/test_traces_simple.py
Due: tests-sdk

test: add unit tests and disable trace recording during test collection
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/cli/commands/test_local.py
  sdks/python/tests/conftest.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

fix: opensearch when using kafka queue
  app/Makefile
  app/lilypad/server/_utils/auth.py
  app/lilypad/server/_utils/environment.py
  app/lilypad/server/_utils/opensearch.py
  app/lilypad/server/_utils/posthog.py
  app/lilypad/server/_utils/versions.py
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/opensearch.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

refactor: remove unnecessary pragma comments and clean up code formatting
  app/lilypad/ee/server/api/v0/annotations_api.py
  app/lilypad/ee/server/api/v0/functions_api.py
  app/lilypad/ee/server/services/annotations_service.py
  app/lilypad/server/api/v0/billing_api.py
  app/lilypad/server/db/session.py
  app/lilypad/server/schemas/span_more_details.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/stripe_queue_processor.py
  app/tests/server/models/test_function_validation_pragma_removal.py
  app/tests/server/models/test_functions_coverage.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/services/test_stripe_queue_processor.py
Due: tests-app, generate-openapi

refactor: add pragma comments to improve code coverage clarity
  app/lilypad/ee/server/api/v0/annotations_api.py
  app/lilypad/ee/server/api/v0/functions_api.py
  app/lilypad/ee/server/services/annotations_service.py
  app/lilypad/server/api/v0/billing_api.py
  app/lilypad/server/api/v0/comments_api.py
  app/lilypad/server/api/v0/projects_api.py
  app/lilypad/server/api/v0/tags_api.py
  app/lilypad/server/db/session.py
  app/lilypad/server/models/functions.py
  app/lilypad/server/schemas/span_more_details.py
  sdks/python/tests/test_closure.py
Due: tests-app, tests-sdk, generate-openapi

test: enhance unit tests for annotation generation and improve coverage
  app/lilypad/ee/server/api/v0/annotations_api.py
  app/lilypad/ee/server/services/annotations_service.py
  app/lilypad/server/models/functions.py
  app/lilypad/server/schemas/span_more_details.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/server/api/v0/test_billing_api.py
  app/tests/server/models/test_function_validation_pragma_removal.py
Due: tests-app, generate-openapi

test: revert closure tests
  sdks/python/tests/_utils/closure/__init__.py
  sdks/python/tests/_utils/closure/closure_test_functions/__init__.py
  sdks/python/tests/_utils/closure/closure_test_functions/main.py
  sdks/python/tests/_utils/closure/closure_test_functions/other.py
  sdks/python/tests/_utils/closure/test_closure.py
Due: tests-sdk

test: refactor test cases to use context managers for patching
  sdks/python/tests/_opentelemetry/_opentelemetry_mistral/test_instrumentor.py
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/_utils/test_function_cache.py
  sdks/python/tests/cli/commands/test_local.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_closure.py
  sdks/python/tests/test_local.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_sync.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

test: remove outdated static files mounting tests
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

test: remove outdated main execution block test
  app/tests/server/db/test_setup.py
Due: tests-app, generate-openapi

test: update comments for clarity and consistency in closure tests
  app/tests/_utils/test_closure.py
  sdks/python/tests/test_closure.py
Due: tests-app, tests-sdk, generate-openapi

test: improve docstrings for clarity and consistency in closure tests
  app/tests/_utils/test_closure.py
Due: tests-app, generate-openapi

test: refactor global assignment handling for improved readability
  app/lilypad/_utils/closure.py
Due: tests-app, generate-openapi

test: enhance uninstrument tests with improved mocking and error handling
  sdks/python/src/lilypad/_opentelemetry/_opentelemetry_outlines/__init__.py
  sdks/python/tests/_opentelemetry/_opentelemetry_outlines/test_instrumentor.py
  sdks/python/tests/cli/commands/test_sync.py
Due: tests-sdk

test: update codespell configuration to skip additional test utility file
  .codespellrc
  .github/workflows/lint.yml
Due: none

test: replace AsyncMock with Mock for response handling in unit tests
  app/lilypad/server/schemas/span_more_details.py
  app/tests/server/schemas/test_span_more_details.py
  app/tests/server/schemas/test_span_more_details_simple.py
  app/tests/server/schemas/test_spans.py
Due: tests-app, generate-openapi

Delete .github/workflows/label_issues.yml
  .github/workflows/label_issues.yml
Due: none

test: Improve conftest.py
  app/lilypad/_utils/closure.py
  app/lilypad/server/db/setup.py
  app/lilypad/server/main.py
  app/tests/_utils/test_closure.py
  app/tests/_utils/test_closure_edge_cases.py
  app/tests/server/api/v0/test_api_error_handling.py
  app/tests/server/api/v0/test_opensearch_integration.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/api/v0/test_spans_api_edge_cases.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/api/v0/test_traces_api_edge_cases.py
  app/tests/server/models/test_function_validation.py
  app/tests/server/schemas/test_span_more_details.py
  app/tests/server/schemas/test_span_more_details_simple.py
  app/tests/server/services/test_kafka_edge_cases.py
  app/tests/server/services/test_kafka_services.py
  app/tests/server/services/test_queue_processor_edge_cases.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/test_error_handling.py
  sdks/python/conftest.py
  sdks/python/tests/conftest.py
Due: tests-app, tests-sdk, generate-openapi

refactor: simplify comments schema and enhance timezone handling in tests
  app/lilypad/server/schemas/comments.py
  app/tests/server/api/v0/test_comments_api.py
Due: tests-app, generate-openapi

fix: tests
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/db/setup.py
  app/lilypad/server/main.py
  app/lilypad/server/schemas/span_more_details.py
  app/lilypad/server/services/billing.py
  app/tests/server/api/v0/test_comments_api.py
  app/tests/server/api/v0/test_opensearch_integration.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

ci: update tests to upload to codecov
  .github/workflows/tests.yml
Due: none

Update README.md
  README.md
Due: none

fix: inconsistent behavior between queue and fallback
  app/lilypad/server/_utils/span_processing.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
