Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

feat: enhance logging with immediate flush and improved message formatting
  app/lilypad/server/logging_config.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

feat: log completion status of Kafka topic setup
  app/lilypad/server/main.py
Due: tests-app, generate-openapi

feat: enhance Kafka logging with detailed initialization and processing messages
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/logging_config.py
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/span_queue_processor.py
  app/scripts/check_logging_config.py
Due: tests-app, generate-openapi

feat: initialize ordered_spans for exception handling in trace processing
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

chore: rename prop
  app/client/mirascope-ui/blocks/lilypad-pricing.tsx
  app/client/src/components/stripe/SubscriptionManager.tsx
Due: generate-openapi

feat: make billing experimental, remove experimental from search bar
  app/client/src/components/SearchBar.tsx
  app/client/src/routes/_auth/settings.$.tsx
Due: generate-openapi

feat: add error handling for Kafka admin client initialization
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

fix: remove unnecessary whitespace in Kafka setup error handling
  app/lilypad/server/services/kafka_setup.py
Due: tests-app, generate-openapi

feat: add documentation for get_recent method in spans client
  sdks/python/src/lilypad/generated/reference.md
Due: none

feat: add span polling indexes for improved query performance
  app/migrations/versions/0040_add_span_polling_indexes.py
Due: tests-app, generate-openapi

fix: update number of users
  app/client/src/ee/utils/features.ts
Due: generate-openapi

feat: add trace ID retrieval and logging for spans
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/schemas/traces.py
  app/lilypad/server/services/spans.py
  sdks/python/src/lilypad/_configure.py
Due: tests-app, tests-sdk, generate-openapi

fix: dockerfile for bun
  app/client/Dockerfile.dev
Due: generate-openapi

feat: implement base Kafka service and span Kafka service for message handling
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/main.py
  app/lilypad/server/services/__init__.py
  app/lilypad/server/services/kafka.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_kafka_service.py
Due: tests-app, generate-openapi

feat: enhance logging in Kafka message handling and improve message validation
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_kafka_service.py
Due: tests-app, generate-openapi

feat: implement batch processing for Kafka message sending with memory-efficient chunking
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_kafka_service.py
Due: tests-app, generate-openapi

feat: optimize Kafka producer settings and enhance message validation
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/__init__.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_kafka_service.py
Due: tests-app, generate-openapi

feat: add edge case tests for Kafka producer and span Kafka service
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_kafka_edge_cases.py
  app/tests/server/services/test_kafka_service.py
  app/tests/server/services/test_kafka_services.py
  app/tests/server/services/test_span_queue_processor.py
Due: tests-app, generate-openapi

feat: add endpoint to retrieve spans by trace ID and update response model
  sdks/fern/lilypad-api.json
Due: generate-fern-sdk

feat: refactor Kafka service reset logic and enhance type hints in tests
  Makefile
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/spans.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/services/test_kafka_edge_cases.py
  app/tests/server/services/test_kafka_services.py
Due: tests-app, generate-openapi

feat: add endpoint to retrieve spans by trace ID in sync and async clients
  app/client/src/types/types.ts
  sdks/python/src/lilypad/generated/client.py
  sdks/python/src/lilypad/generated/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/traces_queue_response.py
Due: tests-sdk, generate-openapi

feat: enable await for Kafka producer send to improve message handling
  app/lilypad/server/services/kafka_base.py
Due: tests-app, generate-openapi

feat: improve Kafka producer message sending and error handling
  sdks/python/src/lilypad/_configure.py
Due: tests-sdk

feat: clean up logging and formatting in Kafka message handling
  app/lilypad/server/services/kafka_base.py
  sdks/python/src/lilypad/_configure.py
Due: tests-app, tests-sdk, generate-openapi

feat: update Kafka service tests to use awaitable mock futures for producer send
  app/lilypad/server/services/kafka_base.py
  app/tests/server/services/test_kafka_services.py
Due: tests-app, generate-openapi

feat: implement SpanPollingService for real-time span updates and enhance spans retrieval by trace ID
  app/client/src/components/traces/TracesTable.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
  app/client/src/services/SpanPollingService.ts
  app/client/src/utils/traces.ts
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/services/spans.py
  app/tests/server/api/v0/test_spans_api.py
Due: tests-app, generate-openapi

feat: enhance row selection handling in DataTable and clear selections on auto-update start
  app/client/src/components/DataTable.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
  sdks/fern/lilypad-api.json
Due: generate-openapi, generate-fern-sdk

feat: improve detail panel handling and scrolling behavior in DataTable and TracesTable
  app/client/src/components/DataTable.tsx
  app/client/src/components/traces/TracesTable.tsx
  app/client/src/hooks/use-table.tsx
Due: generate-openapi

feat: add timeout handling for Kafka producer flush and improve shutdown logging
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

feat: enhance SpanPollingService with pause/resume functionality and improve error handling
  app/client/src/components/DataTable.tsx
  app/client/src/components/traces/TracesTable.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
  app/client/src/services/SpanPollingService.ts
  app/client/src/utils/traces.ts
Due: generate-openapi

feat: add initial project setup with Python version and Kafka topic configuration
  app/client/src/config/polling.ts
Due: generate-openapi

feat: enhance Kafka producer shutdown process with improved task handling and connection prevention
  app/lilypad/server/main.py
  app/lilypad/server/services/kafka_base.py
  app/lilypad/server/services/kafka_producer.py
  app/lilypad/server/services/span_queue_processor.py
Due: tests-app, generate-openapi

feat: simplify Kafka producer health check and improve shutdown process
  app/lilypad/server/services/kafka_producer.py
Due: tests-app, generate-openapi

feat: update producer health check test to return existing instance
  app/tests/server/services/test_kafka_edge_cases.py
Due: tests-app, generate-openapi

feat: streamline error logging during Kafka producer closure
  app/lilypad/server/services/kafka_producer.py
Due: tests-app, generate-openapi

feat: make organization names unique
  app/client/bun.lock
  app/client/mirascope-ui/blocks/lilypad-pricing.tsx
  app/client/mirascope-ui/manifest.json
  app/client/mirascope-ui/ui/button.tsx
  app/client/mirascope-ui/ui/tabs.tsx
  app/client/package.json
  app/client/src/components/OrganizationDialog.tsx
  app/client/src/components/SearchBar.tsx
  app/client/src/components/ui/calendar.tsx
  app/client/src/main.tsx
  app/client/src/utils/error.ts
  app/client/tsconfig.app.tsbuildinfo
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/models/organizations.py
  app/migrations/versions/0040_make_organization_name_unique.py
Due: tests-app, generate-openapi

Revert "feat: make organization names unique"
  app/client/bun.lock
  app/client/mirascope-ui/blocks/lilypad-pricing.tsx
  app/client/mirascope-ui/manifest.json
  app/client/mirascope-ui/ui/button.tsx
  app/client/mirascope-ui/ui/tabs.tsx
  app/client/package.json
  app/client/src/components/OrganizationDialog.tsx
  app/client/src/components/SearchBar.tsx
  app/client/src/components/ui/calendar.tsx
  app/client/src/main.tsx
  app/client/src/utils/error.ts
  app/client/tsconfig.app.tsbuildinfo
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/models/organizations.py
  app/migrations/versions/0040_make_organization_name_unique.py
Due: tests-app, generate-openapi

feat: make organization name unique
  app/client/bun.lock
  app/client/mirascope-ui/manifest.json
  app/client/mirascope-ui/ui/button.tsx
  app/client/package.json
  app/client/src/components/OrganizationDialog.tsx
  app/client/src/components/SearchBar.tsx
  app/client/src/components/ui/calendar.tsx
  app/client/src/main.tsx
  app/client/src/utils/error.ts
  app/client/tsconfig.app.tsbuildinfo
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/models/organizations.py
  app/migrations/versions/0040_make_organization_name_unique.py
Due: tests-app, generate-openapi

fix: number of users
  app/client/src/ee/utils/features.ts
Due: generate-openapi

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
