Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: "client/pnpm-lock.yaml|docs/pnpm-lock.yaml"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
        name: bash -c 'cd app && ruff check for lilypad-app'
        files: "^app/lilypad|^app/tests"
        args: [--fix, --config=app/pyproject.toml]
      - id: ruff-format
        name: bash -c 'cd app && ruff format for lilypad-app'
        files: "^app/lilypad|^app/tests"
        args: [--config=app/pyproject.toml]
      - id: ruff
        name: bash -c 'cd sdks/python && ruff check for lilypad-sdk'
        files: "^sdks/python"
        args: [ --fix, --config=sdks/python/pyproject.toml ]
      - id: ruff-format
        name: bash -c 'cd sdks/python && ruff format for lilypad-sdk'
        files: "^sdks/python"
        args: [ --config=sdks/python/pyproject.toml ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
      - id: pyright
  - repo: local
    hooks:
      - id: tests-app
        name: tests for app
        entry: bash -c 'cd app && uv run pytest app/tests'
        language: system
        types: [python]
        pass_filenames: false
        files: "^app/"
      - id: tests-sdk
        name: tests for sdk
        entry: bash -c 'cd sdks/python && uv run pytest sdks/python/tests'
        language: system
        types: [ python ]
        pass_filenames: false
        files: "^sdks/python"
      - id: build-client
        name: build-client
        entry: bash -c 'cd app/client && pnpm typecheck'
        language: system
        pass_filenames: false
      - id: generate-openapi
        name: generate-openapi
        entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output openapi.json'
        language: system
        files: "^app/"
        pass_filenames: false
#      - id: generate-fern-sdk
#        name: generate-fern-sdk
#        entry: bash -c 'cp openapi.json sdks/fern/lilypad-api.json && cd sdks && bun run fern generate --group python-sdk'
#        language: system
#        files: "^sdks/fern/lilypad-api.json"
#        pass_filenames: false

fix: fix pre-commit config
  .pre-commit-config.yaml
  sdks/python/pyproject.toml
Due: none

fix: fix pre-commit config
  .pre-commit-config.yaml
Due: none

fix: update sdk
  app/lilypad/__init__.py
Due: tests-app, generate-openapi

fix: update sdk
  sdks/python/pyproject.toml
Due: none

fix: update ci
  .github/workflows/lint-app.yml
  .github/workflows/lint-sdk.yml
Due: none

fix: update ci
  .github/workflows/build_client.yml
Due: none

fix: fix lib client
  sdks/python/src/lilypad/lib/_utils/client.py
  sdks/python/tests/lib/_utils/test_middleware.py
Due: tests-sdk

fix: fix ci
  .github/workflows/lint-app.yml
  .github/workflows/lint-sdk.yml
Due: none

fix: fix ci
  app/lilypad/server/static/.gitkeep
Due: generate-openapi

fix: fix ci
  .github/workflows/lint-sdk.yml
Due: none

fix: fix ci name
  .github/workflows/lint-app.yml
  .github/workflows/lint-sdk.yml
Due: none

fix: move .fernignore
  sdks/fern/.fernignore
  sdks/python/src/lilypad/.fernignore
Due: none

fix: fix ci test
  .github/workflows/tests-app.yml
  .github/workflows/tests-sdk.yml
Due: none

fix: fix ci test
  .github/workflows/lint-app.yml
  .github/workflows/lint.yml
  .github/workflows/tests-app.yml
  .github/workflows/tests.yml
Due: none

fix: delete ci test
  .github/workflows/lint-sdk.yml
  .github/workflows/tests-sdk.yml
Due: none

fix: fix fern generation
  .pre-commit-config.yaml
Due: none

fix: fix fern generation
  sdks/fern/lilypad-api.json
Due: none

fix: fix ci
  .github/workflows/lint.yml
Due: none

fix: fix pre-commit
  .pre-commit-config.yaml
Due: none

fix: fix ci
  .github/workflows/sdk_generation.yml
Due: none

Update .fernignore
  sdks/python/src/lilypad/.fernignore
Due: none

fix: fix `__init__.py`
  sdks/python/src/lilypad/__init__.py
Due: tests-sdk

Update __init__.py
  sdks/python/src/lilypad/__init__.py
Due: tests-sdk

fix: fix import client
  sdks/python/src/lilypad/lib/_utils/client.py
Due: tests-sdk

fix: fix format
  sdks/python/tests/conftest.py
Due: tests-sdk

fix: fix format
  sdks/python/pyproject.toml
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_utils.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/test_sessions.py
Due: tests-sdk

fix: fix imports
  sdks/python/pyproject.toml
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_azure/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_azure/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_mistral/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_mistral/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_outlines/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_outlines/test_utils.py
  sdks/python/tests/_opentelemetry/test_utils.py
  sdks/python/tests/_utils/closure/closure_test_functions/main.py
  sdks/python/tests/_utils/closure/closure_test_functions/other.py
  sdks/python/tests/_utils/closure/test_closure.py
  sdks/python/tests/_utils/test_call_safely.py
  sdks/python/tests/_utils/test_config.py
  sdks/python/tests/_utils/test_configure.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/_utils/test_serializer_registry.py
  sdks/python/tests/_utils/test_settings.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_sessions.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_tools.py
Due: tests-sdk

fix: imports
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

fix: fix imports
  sdks/python/src/lilypad/__init__.py
Due: tests-sdk

fix: fix taces imports
  sdks/python/src/lilypad/cli/commands/sync.py
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

feat: add Makefile
  Makefile
Due: none

fix: fix client calls
  sdks/python/src/lilypad/spans.py
  sdks/python/src/lilypad/traces.py
Due: tests-sdk

fix: fix client calls
  sdks/python/src/lilypad/_utils/otel_debug.py
  sdks/python/src/lilypad/cli/commands/local.py
Due: tests-sdk
