Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

chore: update coverage configuration to include generated files
  sdks/python/pyproject.toml
Due: none

test: enhance unit tests for spans API and trace methods to improve coverage
  app/lilypad/server/api/v0/spans_api.py
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_annotations_simple.py
  app/tests/ee/server/api/v0/test_functions_api_simple.py
  app/tests/ee/test_validate_simple.py
  app/tests/server/api/v0/test_billing_api_additional.py
  app/tests/server/api/v0/test_spans_api_comprehensive.py
  app/tests/server/api/v0/test_spans_api_simple.py
  app/tests/server/api/v0/test_traces_api_additional.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_traces_additional.py
  sdks/python/tests/test_traces_advanced_coverage.py
  sdks/python/tests/test_traces_methods.py
Due: tests-app, tests-sdk, generate-openapi

feat: dedupe on stripe meter
  app/client/src/components/Onboarding.tsx
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/services/billing.py
  app/lilypad/server/services/span_queue_processor.py
  app/lilypad/server/services/stripe_kafka_service.py
  app/lilypad/server/services/stripe_queue_processor.py
Due: tests-app, generate-openapi

test: add unit tests for spans API, Docker sandbox runner, and Supabase Vault Manager to improve coverage
  app/lilypad/server/api/v0/spans_api.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/ee/test_validate.py
  app/tests/lilypad/sandbox/test_docker.py
  app/tests/server/api/v0/test_spans_api.py
  app/tests/server/secret_manager/test_supabase_vault_manager.py
  app/tests/server/services/test_deployments_service.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_instrumentor.py
  sdks/python/tests/_opentelemetry/test_azure_utils.py
  sdks/python/tests/_opentelemetry/test_outlines_instrumentor.py
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_simple_coverage.py
  sdks/python/tests/test_traces_advanced_coverage.py
  sdks/python/tests/test_traces_methods.py
Due: tests-app, tests-sdk, generate-openapi

test: update assertions in DockerSandboxRunner and spans API tests for accuracy
  app/tests/lilypad/sandbox/test_docker.py
  app/tests/server/api/v0/test_spans_api.py
Due: tests-app, generate-openapi

test: add nested transaction handling in deployments.py for improved reliability
  app/lilypad/server/services/deployments.py
Due: tests-app, generate-openapi

test: add validation tests for SpanUpdate to ensure correct tag handling
  app/tests/server/services/test_spans.py
Due: tests-app, generate-openapi

test: add async unit test for KafkaSetupService to verify admin client handling
  app/tests/server/api/v0/test_main.py
  app/tests/server/services/test_kafka_setup.py
Due: tests-app, generate-openapi

test: add unit tests for organization invites API and refactor test user setup
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_organization_invites_api.py
Due: tests-app, generate-openapi

test: add coverage exclusion for Windows resource handling in functions_api.py
  app/lilypad/ee/server/api/v0/functions_api.py
Due: tests-app, generate-openapi

test: add coverage exclusion for Windows resource handling in functions_api.py
  app/tests/ee/server/api/v0/test_user_organizations_api.py
Due: tests-app, generate-openapi

chore: add initial project configuration and unit tests for instrumentors
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_instrumentor.py
  sdks/python/tests/_opentelemetry/_opentelemetry_azure/test_instrumentor.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_instrumentor.py
  sdks/python/tests/_opentelemetry/_opentelemetry_mistral/test_instrumentor.py
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_instrumentor.py
Due: tests-sdk

test: enhance unit tests for span queue processor and stripe services
  app/tests/server/services/test_kafka_setup.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

test: add unit tests for user consents and Stripe Kafka service
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/_utils/test_posthog.py
  app/tests/server/api/v0/test_user_consents_api.py
  app/tests/server/services/test_stripe_kafka_service.py
  app/tests/server/services/test_stripe_queue_processor.py
Due: tests-app, generate-openapi

test: add unit tests for middleware and sync functionalities
  sdks/python/tests/test_middleware_missing_coverage.py
  sdks/python/tests/test_sync_missing_coverage.py
  sdks/python/tests/test_traces_missing_coverage.py
  sdks/python/tests/test_traces_remaining_lines.py
Due: tests-sdk

test: add unit tests for API keys service and enhance settings tests
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/secret_manager/test_secret_manager_factory.py
  app/tests/server/services/test_api_keys_service.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_kafka_setup.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/server/test_settings.py
Due: tests-app, generate-openapi

test: add comprehensive unit tests for sync command and related functions
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_middleware_missing_coverage.py
  sdks/python/tests/test_sandbox_coverage.py
  sdks/python/tests/test_simple_coverage.py
  sdks/python/tests/test_sync_missing_coverage.py
  sdks/python/tests/test_traces_advanced_coverage.py
  sdks/python/tests/test_traces_coverage.py
  sdks/python/tests/test_traces_missing_coverage.py
Due: tests-sdk

test: add unit tests for billing service and Kafka integration
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_kafka_services.py
  app/tests/server/services/test_opensearch.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
Due: tests-app, generate-openapi

test: add unit tests for session context in spans and enhance async trace methods
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_utils.py
  sdks/python/tests/_utils/test_functions.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces_methods.py
Due: tests-sdk

test: add unit tests for functions and organization invites services
  app/lilypad/server/db/session.py
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/server/api/v0/test_functions_api.py
  app/tests/server/db/test_setup.py
  app/tests/server/services/test_base_organization_service.py
  app/tests/server/services/test_base_service.py
  app/tests/server/services/test_comments_service.py
  app/tests/server/services/test_functions_service.py
  app/tests/server/services/test_organization_invites_service.py
  app/tests/server/services/test_projects_service.py
Due: tests-app, generate-openapi

test: add unit tests for Lilypad client and spans coverage
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/test_client_coverage.py
  sdks/python/tests/test_spans_coverage.py
  sdks/python/tests/test_traces_coverage.py
  sdks/python/tests/test_utils_coverage.py
Due: tests-sdk

test: add unit tests for Lilypad and AsyncLilypad client initialization and error handling
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/test_client_coverage.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_spans_coverage.py
  sdks/python/tests/test_traces_coverage.py
  sdks/python/tests/test_traces_remaining_lines.py
  sdks/python/tests/test_utils_coverage.py
Due: tests-sdk

test: add unit tests for call_safely decorator with exclude parameter and race conditions
  sdks/python/tests/_utils/test_call_safely.py
  sdks/python/tests/_utils/test_function_cache.py
  sdks/python/tests/_utils/test_serializer_registry.py
Due: tests-sdk

test: add unit tests for GitHub OAuth callback and user handling logic
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/_utils/test_posthog.py
  app/tests/server/api/v0/auth/test_github_api.py
  app/tests/server/api/v0/auth/test_utils.py
  app/tests/server/api/v0/test_user_consents_api.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_spans.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/server/test_settings.py
Due: tests-app, generate-openapi

test: handle empty assignments in global collector
  app/tests/_utils/test_closure.py
Due: tests-app, generate-openapi

test: enhance async function detection and improve JSON serialization tests
  sdks/python/src/lilypad/_opentelemetry/_opentelemetry_azure/utils.py
  sdks/python/src/lilypad/_utils/json.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_google_genai/test_utils.py
  sdks/python/tests/_utils/test_fn_is_async.py
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/sandbox/test_runner.py
Due: tests-sdk

test: add unit tests for EE functions API and validation logic
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/schemas/test_functions.py
Due: tests-app, generate-openapi

test: add unit tests for playground API error handling and message conversion
  app/tests/ee/server/api/v0/test_ee_functions_api.py
  app/tests/server/schemas/test_spans.py
Due: tests-app, generate-openapi

test: refactor unit tests for WebP image handling and sync command error processing
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/cli/commands/test_sync.py
  sdks/python/tests/conftest.py
Due: tests-sdk

test: add unit tests for jsonable_encoder and async event stream adapter
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_patch.py
  sdks/python/tests/_utils/test_json.py
Due: tests-sdk

test: add unit tests for AWS Secret Manager error handling and message conversion
  app/tests/server/schemas/test_spans.py
  app/tests/server/secret_manager/test_aws_secret_manager.py
Due: tests-app, generate-openapi

fix: typescript errors
  app/client/src/components/traces/TracesTable.tsx
  app/client/src/utils/auth.ts
  app/client/tsconfig.app.tsbuildinfo
Due: generate-openapi

test: add unit tests for Lilypad client creation failures and JSON encoder behavior
  sdks/python/src/lilypad/_configure.py
  sdks/python/tests/_opentelemetry/_opentelemetry_anthropic/test_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_utils.py
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/_utils/test_json.py
  sdks/python/tests/cli/commands/test_sync.py
Due: tests-sdk

fix: sonner
  app/client/bun.lock
  app/client/package.json
  app/client/src/components/ui/sonner.tsx
  app/client/tsconfig.app.tsbuildinfo
Due: generate-openapi

fix: cloudflare issue
  app/client/bun.lock
  app/client/package.json
Due: generate-openapi

test: add unit tests for various API endpoints and error handling
  app/lilypad/server/schemas/span_more_details.py
  app/tests/_utils/test_closure.py
  app/tests/ee/server/api/v0/test_annotations_api.py
  app/tests/ee/server/api/v0/test_user_organizations_api.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/secret_manager/test_aws_secret_manager.py
Due: tests-app, generate-openapi

fix: gitignore to add mirascope-ui lib
  app/.gitignore
  app/client/mirascope-ui/lib/utils.ts
Due: generate-openapi

fix: pin react router, v1.121 has a breaking change
  app/client/bun.lock
  app/client/package.json
Due: generate-openapi

test: add unit tests for external API key validation and span processing
  app/tests/server/schemas/test_external_api_keys.py
  app/tests/server/schemas/test_spans.py
  app/tests/server/services/test_organizations_service.py
  app/tests/server/services/test_span_queue_processor.py
  app/tests/server/services/test_stripe_queue_processor.py
  app/tests/server/test_models.py
Due: tests-app, generate-openapi

test: add unit tests for AsyncLilypad initialization and stream processing
  sdks/python/src/lilypad/_opentelemetry/_opentelemetry_bedrock/patch.py
  sdks/python/src/lilypad/_opentelemetry/_utils.py
  sdks/python/tests/_opentelemetry/_opentelemetry_bedrock/test_patch.py
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_utils.py
  sdks/python/tests/_opentelemetry/test_utils.py
  sdks/python/tests/_utils/test_client.py
  sdks/python/tests/cli/commands/test_sync.py
Due: tests-sdk

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
