Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

fix: enforce annotation requirement in no-op methods and update test assertions for no-op traces
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

chore: add update-typescript-sdk branch to SDK generation checks
  .github/workflows/sdk_generation.yml
Due: none

feat: initial bun test setup
  app/client/bun.lock
  app/client/bunfig.toml
  app/client/package.json
  app/client/src/utils/common.test.ts
Due: generate-openapi

feat: update release to release both app and py sdk at same time
  .github/workflows/release.yml
Due: none

fix: when a v* tag is created, an app* and py* tag is created and py* is released
  .github/workflows/release.yml
Due: none

fix: release-python steps
  .github/workflows/release.yml
Due: none

fix: revert back to original release minus app and py
  .github/workflows/release.yml
Due: none

feat: release app which does nothing for now, and then release sdk
  .github/workflows/release.yml
Due: none

chore: bump python sdk minor version number
  sdks/python/pyproject.toml
Due: none

fix: remove adding environment to span
  app/migrations/versions/0044_add_envrionment_uuid_to_span.py
Due: tests-app, generate-openapi

feat: bump version
  sdks/python/pyproject.toml
Due: none

test: add unittest
  sdks/typescript/.eslintrc.json
  sdks/typescript/package.json
  sdks/typescript/src/shutdown.ts
  sdks/typescript/src/utils/logger.ts
  sdks/typescript/src/utils/settings.ts
  sdks/typescript/vitest.config.ts
Due: none

feat: add linting and testing workflows for TypeScript SDK using Bun
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

feat: enhance OpenAI instrumentation with version compatibility
  sdks/python/src/lilypad/_opentelemetry/_opentelemetry_openai/__init__.py
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_instrumentor.py
Due: tests-sdk

test: add unit test for handling OpenAI version exceptions in wrap_parse_methods
  sdks/python/tests/_opentelemetry/_opentelemetry_openai/test_instrumentor.py
Due: tests-sdk

feat: add tests for trace functionality and enhance logger setup
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/_utils/test_call_safely.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/test_spans.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

refactor: clean up test docstrings and formatting in test_traces.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

feat: enhance OpenAI integration with manual tracing and improved logging
  sdks/typescript/.eslintignore
  sdks/typescript/.eslintrc.json
  sdks/typescript/README.md
  sdks/typescript/examples/basic.ts
  sdks/typescript/lilypad/generated/core/fetcher/Headers.ts
  sdks/typescript/lilypad/generated/core/fetcher/index.ts
  sdks/typescript/package-lock.json
  sdks/typescript/package.json
  sdks/typescript/src/configure.ts
  sdks/typescript/src/exporters/json-exporter.ts
  sdks/typescript/src/index.ts
  sdks/typescript/src/instrumentors/openai.ts
  sdks/typescript/src/shutdown.ts
  sdks/typescript/src/types/openai.ts
  sdks/typescript/src/types/span.ts
  sdks/typescript/src/utils/http-client.ts
  sdks/typescript/tsconfig.eslint.json
  sdks/typescript/tsconfig.json
  sdks/typescript/tsup.config.ts
  sdks/typescript/vitest.config.ts
Due: none

refactor: clean up code formatting and improve readability in multiple files
  sdks/typescript/README.md
  sdks/typescript/examples/basic.ts
  sdks/typescript/src/configure.ts
  sdks/typescript/src/exporters/json-exporter.ts
  sdks/typescript/src/instrumentors/openai.ts
  sdks/typescript/tsconfig.json
  sdks/typescript/vitest.config.ts
Due: none

refactor: update types for environment_uuid and is_development, remove unused EventSummaryResponse
  app/client/src/types/types.ts
  sdks/typescript/package.json
Due: generate-openapi

refactor: update return types in Headers methods and enhance tsconfig with dom.iterable
  sdks/typescript/lilypad/generated/core/fetcher/Headers.ts
  sdks/typescript/lilypad/generated/core/fetcher/index.ts
  sdks/typescript/tsconfig.json
Due: none

refactor: streamline tsconfig.json by consolidating library definitions
  sdks/typescript/tsconfig.json
Due: none

build: add Prettier formatting step for generated TypeScript SDK
  sdks/Makefile
Due: none

feat: add span and session functionality with type definitions and validation constants
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/span.ts
Due: none

ci: update CI configuration to include new branch and additional checks
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

test: add unit tests for OpenAI instrumentation and related utilities
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/instrumentors/base.test.ts
  sdks/typescript/src/instrumentors/openai-auto.ts
  sdks/typescript/src/instrumentors/openai-hook.ts
  sdks/typescript/src/instrumentors/openai-instrumentation.ts
  sdks/typescript/src/instrumentors/openai-simple.ts
  sdks/typescript/src/instrumentors/openai-v2.ts
  sdks/typescript/src/instrumentors/openai-wrapper.ts
  sdks/typescript/src/instrumentors/openai.test.ts
  sdks/typescript/src/register.ts
  sdks/typescript/src/shutdown.test.ts
  sdks/typescript/src/test-utils/setup.ts
  sdks/typescript/src/utils/id-generator.test.ts
  sdks/typescript/src/utils/json.test.ts
  sdks/typescript/src/utils/logger.test.ts
  sdks/typescript/src/utils/settings.test.ts
  sdks/typescript/src/utils/stream-wrapper.test.ts
Due: none

feat: add TypeScript configuration files for type checking and examples, and enhance span type definitions
  sdks/typescript/bun.lock
  sdks/typescript/src/index.ts
  sdks/typescript/src/types/span.ts
  sdks/typescript/tsconfig.examples.json
  sdks/typescript/tsconfig.typecheck.json
Due: none

refactor: remove unused exports and streamline index.ts
  sdks/typescript/src/index.ts
Due: none

feat: add JSONSpanExporter tests and update coverage reporter to include lcov
  sdks/typescript/src/exporters/json-exporter.test.ts
  sdks/typescript/vitest.config.ts
Due: none

test: enhance OpenAIInstrumentor tests with mocks and additional assertions
  sdks/typescript/src/instrumentors/openai.test.ts
  sdks/typescript/vitest.config.ts
Due: none

feat: add span functionality examples and validation utilities for Lilypad TypeScript SDK
  sdks/typescript/examples/span-basic.ts
  sdks/typescript/examples/span-usage.ts
  sdks/typescript/src/session.test.ts
  sdks/typescript/src/session.ts
  sdks/typescript/src/span.integration.test.ts
  sdks/typescript/src/span.test.ts
  sdks/typescript/src/span.ts
  sdks/typescript/src/utils/validation.ts
  sdks/typescript/src/validation.test.ts
Due: none

test: add unit tests for index and register modules with environment variable handling
  sdks/typescript/src/index.test.ts
  sdks/typescript/src/register.test.ts
Due: none

feat: add basic tests to each page minus playground
  .github/workflows/build_client.yml
  app/client/bun.lock
  app/client/bunfig.toml
  app/client/happydom.ts
  app/client/matchers.d.ts
  app/client/package.json
  app/client/src/routeTree.gen.ts
  app/client/src/routes/_auth.test.tsx
  app/client/src/routes/_auth.tsx
  app/client/src/routes/_auth/projects/$projectUuid.index.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid.index.tsx
  app/client/src/routes/_auth/projects/$projectUuid/annotations/$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/annotations/$.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/$functionUuid.$tab.$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/$functionUuid.$tab.$.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/compare.$firstFunctionUuid.$secondFunctionUuid.$tab.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/compare.$firstFunctionUuid.$secondFunctionUuid.$tab.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/index.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/functions/index.tsx
  app/client/src/routes/_auth/projects/$projectUuid/playground/$functionName/compare.$firstFunctionUuid.$secondFunctionUuid.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/playground/$functionName/compare.$firstFunctionUuid.$secondFunctionUuid.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces.$.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces/detail.$spanUuid.test.tsx
  app/client/src/routes/_auth/projects/$projectUuid/traces/detail.$spanUuid.tsx
  app/client/src/routes/_auth/projects/index.test.tsx
  app/client/src/routes/_auth/projects/index.tsx
  app/client/src/routes/_auth/settings.$.test.tsx
  app/client/src/routes/_auth/settings.$.tsx
  app/client/src/routes/auth.callback.test.tsx
  app/client/src/routes/auth.callback.tsx
  app/client/src/routes/auth.login.test.tsx
  app/client/src/routes/auth.login.tsx
  app/client/src/routes/join.$token.test.tsx
  app/client/src/routes/join.$token.tsx
  app/client/src/test-setup.ts
  app/client/src/test-utils.tsx
  app/client/src/utils/common.test.ts
  app/client/testing-library.ts
  sdks/python/uv.lock
Due: generate-openapi

feat: implement span functionality test using .env configuration
  sdks/typescript/bun.lock
  sdks/typescript/examples/span-basic.ts
  sdks/typescript/examples/span-with-env.ts
  sdks/typescript/src/configure.ts
  sdks/typescript/src/exporters/json-exporter.ts
  sdks/typescript/src/types/span.ts
Due: none

feat: add basic tests for function tab
  app/client/src/routes/_auth/projects/$projectUuid/functions/$functionName/_workbench/$functionUuid.$tab.$.test.tsx
Due: generate-openapi

feat: use v3 instead of v4 upload
  .github/workflows/build_client.yml
Due: none

test: add unit tests for index and register modules with environment variable handling
  sdks/package-lock.json
  sdks/typescript/.eslintrc.json
  sdks/typescript/bun.lock
  sdks/typescript/src/configure.test.ts
  sdks/typescript/src/constants/gen-ai-semantic-conventions.test.ts
  sdks/typescript/src/index.test.ts
  sdks/typescript/src/instrumentors/openai-auto.test.ts
  sdks/typescript/src/instrumentors/openai-instrumentation.test.ts
  sdks/typescript/src/instrumentors/openai-simple.test.ts
  sdks/typescript/src/instrumentors/openai-v2.test.ts
  sdks/typescript/src/instrumentors/openai-wrapper.test.ts
  sdks/typescript/src/instrumentors/openai-wrapper.ts
  sdks/typescript/src/instrumentors/openai.test.ts
  sdks/typescript/src/register.test.ts
  sdks/typescript/src/utils/id-generator.test.ts
  sdks/typescript/src/utils/settings.test.ts
Due: none

chore: remove upload to github
  .github/workflows/build_client.yml
Due: none

test: enhance OpenAI instrumentation tests with additional assertions and error handling
  sdks/typescript/src/instrumentors/openai-auto.test.ts
  sdks/typescript/src/instrumentors/openai-auto.ts
  sdks/typescript/src/instrumentors/openai-simple.test.ts
  sdks/typescript/src/instrumentors/openai-v2.test.ts
Due: none

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
