Repository Mirascope/lilypad: changes, and which pre-commit hooks are due for each by the changed paths.
All: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

tests-app:
  name: tests for app
  entry: bash -c 'cd app && uv run pytest tests'
  language: system
  pass_filenames: false

tests-sdk:
  name: tests for sdk
  entry: bash -c 'cd sdks/python && uv sync --all-extras --dev && uv pip install -e . && uv run pytest .'
  language: system
  pass_filenames: false

generate-openapi:
  name: generate-openapi
  entry: bash -c 'cd app && uv run python scripts/generate_python_client_schema.py generate-openapi --output ../sdks/fern/lilypad-api.json'
  language: system
  pass_filenames: false

generate-fern-sdk:
  name: generate-fern-sdk
  entry: bash -c 'cd sdks && bun run fern generate --group python-sdk --local && rm -fr python/src/lilypad/generated/.git'
  language: system
  pass_filenames: false

feat: add display retention days for pricing tiers to enhance user experience
  app/lilypad/ee/server/features.py
  app/lilypad/server/_utils/tier.py
  app/tests/conftest.py
Due: tests-app, generate-openapi

feat: improve organization tier retrieval and enhance safety checks
  app/lilypad/server/services/spans.py
  app/tests/server/services/test_data_retention_service.py
Due: tests-app, generate-openapi

feat: refactor display retention logic and improve tier caching mechanism
  app/lilypad/ee/server/features.py
  app/lilypad/server/services/spans.py
Due: tests-app, generate-openapi

fix: change migration file rev
  app/migrations/versions/0044_add_display_retention_indexes.py
Due: tests-app, generate-openapi

fix: adjust date filter to include boundary day in spans query
  app/lilypad/server/services/spans.py
Due: tests-app, generate-openapi

feat: enhance data retention cleanup with OpenSearch integration and error handling
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/services/opensearch.py
  app/tests/server/services/test_data_retention_service.py
  app/tests/server/services/test_opensearch.py
Due: tests-app, generate-openapi

feat: prepend environment to each key
  .github/workflows/sdk_generation.yml
  app/client/src/types/types.ts
  app/lilypad/server/_utils/auth.py
  app/lilypad/server/api/v0/api_keys_api.py
  app/lilypad/server/schemas/api_keys.py
  app/pyproject.toml
  app/tests/server/_utils/test_auth.py
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_api_keys_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/services/test_api_keys_service.py
  app/uv.lock
  sdks/fern/lilypad-api.json
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/generated/api_keys/client.py
  sdks/python/src/lilypad/generated/api_keys/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/uv.lock
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

feat: update is_default to is_development in prep for dev specific lilypad features
  Makefile
  app/Makefile
  app/client/src/components/Onboarding.tsx
  app/client/src/components/environments/CreateEnvironmentForm.tsx
  app/client/src/types/Api.ts
  app/client/src/types/types.ts
  app/lilypad/server/models/environments.py
  app/migrations/versions/0043_update_default_to_development.py
  sdks/fern/lilypad-api.json
  sdks/python/pyproject.toml
  sdks/python/src/lilypad/generated/environments/client.py
  sdks/python/src/lilypad/generated/environments/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
  sdks/python/src/lilypad/generated/types/environment_public.py
  sdks/python/tests/_utils/test_middleware.py
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

fix: update example dependencies and improve type checking in Makefile
  .pre-commit-config.yaml
  sdks/python/Makefile
  sdks/python/examples/auto_instrumentation_demo.py
  sdks/python/pyproject.toml
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/uv.lock
Due: tests-sdk

feat: enhance is_lilypad_cloud function for improved hostname validation and add dependency wrapper
  app/lilypad/ee/server/require_license.py
  app/lilypad/server/api/v0/billing_api.py
  app/lilypad/server/api/v0/organizations_api.py
  app/lilypad/server/api/v0/traces_api.py
  app/lilypad/server/main.py
  app/tests/server/api/v0/test_billing_api.py
  app/tests/server/api/v0/test_organizations_api.py
  app/tests/server/api/v0/test_traces_api.py
  app/tests/server/test_main.py
Due: tests-app, generate-openapi

refactor: remove unused indexes from annotations and comments tables for cleaner schema
  app/lilypad/ee/server/models/annotations.py
  app/lilypad/server/models/comments.py
  app/lilypad/server/models/spans.py
Due: tests-app, generate-openapi

feat: implement standalone session context manager for improved transaction control
  app/lilypad/server/api/v0/spans_api.py
  app/lilypad/server/db/session.py
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/services/span_queue_processor.py
  app/tests/server/db/test_session.py
  app/tests/server/services/test_billing_service.py
Due: tests-app, generate-openapi

fix: remove freezegun dependency from project configuration
  app/pyproject.toml
  app/uv.lock
Due: generate-openapi

refactor: streamline billing tier retrieval and enhance hostname validation
  app/lilypad/ee/server/require_license.py
  app/lilypad/server/_utils/tier.py
  app/lilypad/server/db/session.py
  app/lilypad/server/models/billing.py
  app/lilypad/server/services/__init__.py
  app/lilypad/server/services/billing.py
  app/lilypad/server/services/data_retention_service.py
  app/lilypad/server/services/spans.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_data_retention_service.py
  app/tests/server/services/test_spans.py
Due: tests-app, generate-openapi

chore: revert temporary pyproject change
  sdks/python/pyproject.toml
Due: none

chore: coverage
  app/tests/server/api/v0/test_api_keys_api.py
Due: tests-app, generate-openapi

refactor: rename delete_traces_by_uuids to bulk_delete_traces for clarity
  app/lilypad/server/services/opensearch.py
  app/tests/server/services/test_data_retention_service.py
  app/tests/server/services/test_opensearch.py
Due: tests-app, generate-openapi

docs: add comments for opensearch_deleted and opensearch_skipped_large
  app/lilypad/server/services/data_retention_service.py
Due: tests-app, generate-openapi

refactor: improve OpenSearch error handling and logging in data retention service
  app/lilypad/server/services/data_retention_service.py
  app/tests/server/services/test_billing_service.py
  app/tests/server/services/test_data_retention_service.py
Due: tests-app, generate-openapi

refactor: change default value of data_retention_dry_run to True for safer simulations
  app/lilypad/server/settings.py
Due: tests-app, generate-openapi

fix: Exclude difficult-to-cover edge cases from coverage
  app/lilypad/server/services/data_retention_service.py
Due: tests-app, generate-openapi

fix: Exclude difficult-to-cover edge cases from coverage
  app/lilypad/server/_utils/tier.py
Due: tests-app, generate-openapi

feat: add async database health check utilities and enhance session management
  app/lilypad/server/db/__init__.py
  app/lilypad/server/db/health.py
  app/lilypad/server/db/session.py
  app/lilypad/server/services/base.py
  app/lilypad/server/services/base_organization.py
  app/lilypad/server/settings.py
  app/pyproject.toml
  app/uv.lock
Due: tests-app, generate-openapi

fix: self-host type error
  app/client/src/utils/panel-utils.tsx
  app/client/tsconfig.app.tsbuildinfo
Due: generate-openapi

feat: add async testing infrastructure for PostgreSQL and enhance test coverage
  .github/workflows/tests.yml
  app/tests/server/api/v0/conftest.py
  app/tests/server/api/v0/test_api_keys_api_async.py
  app/tests/server/api/v0/test_async_infrastructure.py
  app/tests/server/api/v0/test_auth_api_async.py
  app/tests/server/api/v0/test_billing_api_async.py
  app/tests/server/api/v0/test_comments_api_async.py
  app/tests/server/api/v0/test_environments_api_async.py
  app/tests/server/api/v0/test_error_scenarios_async.py
  app/tests/server/api/v0/test_external_api_keys_api_async.py
  app/tests/server/api/v0/test_functions_api_async.py
  app/tests/server/api/v0/test_organizations_api_async.py
  app/tests/server/api/v0/test_performance_async.py
  app/tests/server/api/v0/test_postgresql_features_async.py
  app/tests/server/api/v0/test_projects_api_async.py
  app/tests/server/api/v0/test_spans_api_async.py
  app/tests/server/api/v0/test_users_api_async.py
  app/tests/server/conftest.py
Due: tests-app, generate-openapi

feat: polish environment sidebar
  app/client/src/components/AppSidebar.tsx
  app/client/src/components/MetricsCharts.tsx
  app/client/src/components/functions/FunctionOverviewUI.tsx
Due: generate-openapi

fix: pytest
  app/lilypad/server/api/v0/functions_api.py
  app/tests/server/api/v0/test_functions_api.py
  sdks/fern/lilypad-api.json
  sdks/python/src/lilypad/generated/projects/functions/client.py
  sdks/python/src/lilypad/generated/projects/functions/raw_client.py
  sdks/python/src/lilypad/generated/reference.md
Due: tests-app, tests-sdk, generate-openapi, generate-fern-sdk

fix: unscrollable code block
  app/client/src/components/functions/FunctionOverviewUI.tsx
Due: generate-openapi

chore: update release to create app and py versions when a new tag is created
  .github/workflows/release.yml
Due: none

fix: padding on call params
  app/client/src/ee/components/Playground.tsx
Due: generate-openapi

feat: initial setup for bun test
  .github/workflows/build_client.yml
  app/client/bunfig.toml
  app/client/package.json
  app/client/src/utils/common.test.ts
Due: generate-openapi

feat: update SDK generation workflows and add environment_uuid support
  .github/workflows/sdk_generation.yml
  Makefile
  sdks/Makefile
  sdks/typescript/lilypad/generated/Client.ts
  sdks/typescript/lilypad/generated/api/client/requests/index.ts
  sdks/typescript/lilypad/generated/api/resources/apiKeys/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/apiKeys/client/requests/ApiKeyCreate.ts
  sdks/typescript/lilypad/generated/api/resources/ee/resources/projects/resources/annotations/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/ee/resources/projects/resources/annotations/client/requests/index.ts
  sdks/typescript/lilypad/generated/api/resources/ee/resources/projects/resources/spans/resources/annotations/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/ee/resources/projects/resources/spans/resources/annotations/client/index.ts
  sdks/typescript/lilypad/generated/api/resources/ee/resources/projects/resources/spans/resources/index.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/functions/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/functions/client/requests/index.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/functions/resources/spans/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/functions/resources/spans/client/requests/SpansGetAggregatesRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/functions/resources/spans/client/requests/SpansListPaginatedRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/spans/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/spans/client/requests/SpansGetAggregatesRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/spans/client/requests/SpansGetRecentRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/spans/client/requests/SpansSearchRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/spans/client/requests/index.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/traces/client/Client.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/traces/client/requests/TracesListRequest.ts
  sdks/typescript/lilypad/generated/api/resources/projects/resources/traces/client/requests/index.ts
  sdks/typescript/lilypad/generated/api/resources/spans/client/Client.ts
  sdks/typescript/lilypad/generated/api/types/SpanPublic.ts
Due: none

feat: add async-compatible span wrapper and handle no-op spans in tracing
  sdks/python/src/lilypad/_utils/middleware.py
  sdks/python/src/lilypad/spans.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/_utils/test_middleware.py
  sdks/python/tests/test_decorator_edge_cases.py
  sdks/python/tests/test_traces.py
Due: tests-sdk

fix: correct type checking and improve no-op span handling in tracing
  sdks/python/src/lilypad/_utils/middleware.py
  sdks/python/src/lilypad/traces.py
  sdks/python/tests/_utils/test_middleware.py
Due: tests-sdk

Path conditions:
  tests-app: any of: ^app/ and \.py$
  tests-sdk: any of: ^sdks/python and \.py$
  generate-openapi: any of: ^app/
  generate-fern-sdk: any of: ^sdks/fern/lilypad-api.json
